Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: balena-lint, balena-lint --typescript --fix, balena-lint --tests, balena-lint --typescript --no-prettier --tests

.lintstagedrc:

{
	"*.coffee": [
		"balena-lint"
	],
	"*.ts": [
		"balena-lint --typescript --fix",
	],
	"*.js": [
		"balena-lint --typescript --fix",
	],
	"test/**/*.coffee": [
		"balena-lint --tests"
	],
	"test/**/*.ts": [
		"balena-lint --typescript --no-prettier --tests"
	],
}

v11.4.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Fix default request options
  src/lib/request.ts
Due: balena-lint --typescript --fix

v11.4.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Avoid querying `instantUpdates` on every state poll
  src/api-binder.ts
Due: balena-lint --typescript --fix

v11.4.8
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Catch errors in the target state poll so polling will always continue
  src/api-binder.ts
Due: balena-lint --typescript --fix

v11.4.9
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Fix leftover spurious return from typescript conversion
  src/device-state.ts
Due: balena-lint --typescript --fix

v11.4.10
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Switch to balenaApi for the state patch as patching cannot be cached
  src/api-binder.ts
Due: balena-lint --typescript --fix

v11.4.11
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Update typescript to v3.9
  package-lock.json
  package.json
  src/compose/network.ts
  src/compose/types/network.ts
Due: balena-lint --typescript --fix

Improved handling of invalid appId in V2 state endpoint
  src/device-api/v2.ts
  test/21-supervisor-api.spec.ts
  test/27-supervisor-api-auth.spec.ts
  test/data/device-api-responses.json
  test/lib/mocked-device-api.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v11.4.12
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Use safeStateClone to avoid call-stack exceeding errors
  src/device-api/common.d.ts
  src/device-api/common.js
  src/device-api/v2.ts
Due: balena-lint --typescript --fix

v11.4.13
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

check for 409 status code, rather than string matching uuid conflicts
  package-lock.json
  package.json
  src/api-binder.ts
  src/lib/errors.ts
  test/11-api-binder.spec.ts
  test/lib/mocked-balena-api.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v11.4.14
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Check for ApiError before using it as such
  package-lock.json
  package.json
  src/api-binder.ts
  src/lib/errors.ts
  src/lib/register-device.ts
  typings/balena-register-device.d.ts
Due: balena-lint --typescript --fix

v11.4.15
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Migrate to per-service apiSecrets
  src/api-binder.ts
  src/application-manager.js
  src/compose/service.ts
  src/compose/types/service.ts
  src/compose/utils.ts
  src/config/functions.ts
  src/config/index.ts
  src/config/schema-type.ts
  src/config/schema.ts
  src/db.ts
  src/device-state.ts
  src/lib/api-secrets.ts
  src/migrations/M00005.js
  src/supervisor-api.ts
  src/supervisor.ts
  test/03-config.spec.ts
  test/04-service.spec.ts
  test/05-device-state.spec.ts
  test/11-api-binder.spec.ts
  test/14-application-manager.spec.ts
  test/21-supervisor-api.spec.ts
  test/27-supervisor-api-auth.spec.ts
  test/lib/mocked-device-api.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

tmp
  src/device-api/v2.ts
  src/lib/api-secrets.ts
  src/supervisor-api.ts
Due: balena-lint --typescript --fix

Make the db module a singleton
  package.json
  src/api-binder.ts
  src/application-manager.d.ts
  src/application-manager.js
  src/compose/images.ts
  src/config/index.ts
  src/db.ts
  src/device-api/common.d.ts
  src/device-api/v2.ts
  src/device-config.ts
  src/device-state.ts
  src/lib/errors.ts
  src/lib/migration.ts
  src/local-mode.ts
  src/logger.ts
  src/logging/monitor.ts
  src/proxyvisor.js
  src/supervisor.ts
  src/target-state.ts
  test/00-init.ts
  test/01-constants.spec.ts
  test/02-db.spec.ts
  test/03-config.spec.ts
  test/05-device-state.spec.ts
  test/11-api-binder.spec.ts
  test/13-device-config.spec.ts
  test/14-application-manager.spec.ts
  test/23-local-mode.ts
  test/lib/mocked-balena-api.ts
  test/lib/mocked-device-api.ts
  test/lib/prepare.ts
  typings/balena-register-device.d.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v11.4.16
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Update dependencies
  package-lock.json
  package.json
  src/compose/network.ts
  src/event-tracker.ts
Due: balena-lint --typescript --fix

Performed npm audit fix on dependencies
  package-lock.json
Due: none

v11.4.17
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Added test coverage for GET /v1/healthy
  test/21-supervisor-api.spec.ts
  test/data/device-api-responses.json
  test/lib/mocked-device-api.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Refactor api-binder healthchecks to log reason for failure
  src/api-binder.ts
  test/11-api-binder.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Refactor device-state healthchecks to log reason for failure
  src/device-state.ts
  test/05-device-state.spec.ts
  test/11-api-binder.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v11.5.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Remove unused dependencies and dedupe
  package-lock.json
  package.json
Due: none

v11.5.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Rich's changes
  src/compose/service-manager.ts
  src/device-api/v2.ts
  src/lib/api-secrets.ts
  src/supervisor-api.ts
Due: balena-lint --typescript --fix

Migrate to per-service apiSecrets
  src/application-manager.js
  src/compose/types/service.ts
  src/compose/utils.ts
  src/config/functions.ts
  src/config/index.ts
  src/config/schema-type.ts
  src/config/schema.ts
  src/db.ts
  src/device-api/v2.ts
  src/device-state.ts
  src/lib/api-secrets.ts
  src/migrations/M00005.js
  src/supervisor-api.ts
  src/supervisor.ts
  test/03-config.spec.ts
  test/21-supervisor-api.spec.ts
  test/27-supervisor-api-auth.spec.ts
  test/lib/mocked-device-api.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Make the config module a singleton
  src/api-binder.ts
  src/application-manager.d.ts
  src/application-manager.js
  src/compose/composition-steps.ts
  src/compose/images.ts
  src/compose/service-manager.ts
  src/config/functions.ts
  src/config/index.ts
  src/device-api/v2.ts
  src/device-config.ts
  src/device-state.ts
  src/device-state/preload.ts
  src/host-config.ts
  src/lib/migration.ts
  src/local-mode.ts
  src/logger.ts
  src/proxyvisor.js
  src/supervisor-api.ts
  src/supervisor.ts
  src/target-state.ts
  test/00-init.ts
  test/03-config.spec.ts
  test/05-device-state.spec.ts
  test/11-api-binder.spec.ts
  test/13-device-config.spec.ts
  test/14-application-manager.spec.ts
  test/23-local-mode.ts
  test/lib/mocked-device-api.ts
  test/lib/prepare.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v11.5.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Make docker module a singleton
  src/application-manager.d.ts
  src/application-manager.js
  src/compose/images.ts
  src/compose/network-manager.ts
  src/compose/network.ts
  src/compose/service-manager.ts
  src/compose/volume-manager.ts
  src/compose/volume.ts
  src/lib/docker-utils.ts
  src/lib/migration.ts
  src/local-mode.ts
  src/logger.ts
  src/logging/container.ts
  src/proxyvisor.js
  test/05-device-state.spec.ts
  test/14-application-manager.spec.ts
  test/18-startup.ts
  test/20-compose-volume.ts
  test/23-local-mode.ts
  test/25-deltas.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v11.5.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Isolate target state fetching to its own module which emits on update
  src/api-binder.ts
  src/application-manager.js
  src/device-state/target-state-cache.ts
  src/device-state/target-state.ts
  test/11-api-binder.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests
