Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: balena-lint, balena-lint --typescript --fix, balena-lint --tests, balena-lint --typescript --no-prettier --tests

.lintstagedrc:

{
	"*.coffee": [
		"balena-lint"
	],
	"*.ts": [
		"balena-lint --typescript --fix",
	],
	"*.js": [
		"balena-lint --typescript --fix",
	],
	"test/**/*.coffee": [
		"balena-lint --tests"
	],
	"test/**/*.ts": [
		"balena-lint --typescript --no-prettier --tests"
	],
}

v12.4.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

wip
  src/device-state.ts
  src/lib/constants.ts
  src/local-mode.ts
Due: balena-lint --typescript --fix

Refactor journalctl monitor to only spawn new process on exit
  src/logging/monitor.ts
Due: balena-lint --typescript --fix

v12.4.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

v12.4.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Add nebra-hnt to raspberry pi variants
  src/config/backends/config-txt.ts
Due: balena-lint --typescript --fix

v12.4.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Infer legacy Volumes that do not have the supervised label
  src/compose/volume-manager.ts
  test/28-db-format.spec.ts
  test/34-firewall.spec.ts
  test/41-device-api-v1.spec.ts
  test/42-device-api-v2.spec.ts
  test/44-volume-manager.spec.ts
  test/lib/mocked-dockerode.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.4.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

typos: seperate -> separate
  docs/API.md
  src/compose/service.ts
  src/compose/utils.ts
  src/config/backends/extra-uEnv.ts
  src/device-api/common.js
  sync/sync.ts
  test/data/mnt/boot/config.txt
Due: balena-lint --typescript --fix

v12.4.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Add explicit dockerode dependency
  package-lock.json
  package.json
Due: none

Enable strict options by default and only disable specific ones
  src/config/index.ts
  tsconfig.json
Due: balena-lint --typescript --fix

Move chai-things and chai-like into dev dependencies
  package-lock.json
  package.json
Due: none

v12.4.8
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

v12.4.9
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

v12.4.10
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Remove rsync delta (v2) support
  Dockerfile
  package-lock.json
  package.json
  src/config/schema-type.ts
  src/device-config.ts
  src/lib/docker-utils.ts
  src/lib/request.ts
  test/05-device-state.spec.ts
  test/12-device-config.spec.ts
  test/24-deltas.spec.ts
  test/31-docker-utils.spec.ts
  test/32-compose-app-manager.spec.ts
  test/data/delta-image-data.json
  typings/docker-delta.d.ts
  typings/resumable-request.d.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

wip
  package-lock.json
  package.json
  src/compose/app.ts
  src/compose/application-manager.ts
  src/config/schema-type.ts
  src/config/schema.ts
  src/device-config.ts
  src/device-state.ts
  src/tracing/tracer.ts
Due: balena-lint --typescript --fix

Add cywang117 to CODEOWNERS
  .github/CODEOWNERS
Due: none

v12.5.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Disable docker layer caching on CircleCI
  circle.yml
Due: none

v12.5.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Removed upgrades.md doc
  docs/upgrades.md
Due: none

v12.5.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

v12.5.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Update setup section to reflect switch to balena-os org
  README.md
Due: none

Default delta version to be 3
  docs/API.md
  src/config/schema-type.ts
  src/device-config.ts
  test/05-device-state.spec.ts
  test/12-device-config.spec.ts
  test/32-compose-app-manager.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Patch list volumes to always return an array
  src/compose/volume-manager.ts
  test/44-volume-manager.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.5.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

v12.5.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Prevent unintended image removal when calling purge endpoints to remove volumes
  src/compose/application-manager.ts
  src/device-api/common.d.ts
  src/device-api/common.js
  test/36-compose-app.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.5.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Add message to refer to v2 endpoints
  docs/API.md
Due: none

v12.5.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Add a log message for cases where deltas become unavailable with Docker daemon 404 while applying
  src/compose/images.ts
  src/lib/errors.ts
  test/24-deltas.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Improved mutable (/data) file system detection
  package-lock.json
  package.json
  src/lib/system-info.ts
  test/38-sys-info.spec.ts
  test/data/serial-number
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Skip localmode test suite These tests have been failing and prevent new tests from passing
  test/22-local-mode.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.5.8
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Update mocha options for recursive test lookup
  test/fast-mocha.opts
  test/mocha.opts
Due: none
