Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: balena-lint, balena-lint --typescript --fix, balena-lint --tests, balena-lint --typescript --no-prettier --tests

v11.6.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

fix: Pin alpine python version
  circle.yml
Due: none

Convert all test files to TS and add .spec to all filenames
  test/11-api-binder.spec.ts
  test/12-logger.spec.ts
  test/15-conversions.spec.ts
  test/17-config-utils.spec.ts
  test/18-compose-network.spec.ts
  test/18-startup.spec.ts
  test/19-compose-utils.spec.ts
  test/20-compose-volume.spec.ts
  test/22-api-binder.ts
  test/22-local-mode.spec.ts
  test/23-contracts.spec.ts
  test/24-deltas.spec.ts
  test/25-journald.spec.ts
  test/26-supervisor-api-auth.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v11.6.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Make the event-tracker module a singleton
  src/api-binder.ts
  src/application-manager.d.ts
  src/application-manager.js
  src/device-api/v1.js
  src/device-state.ts
  src/device-state/preload.ts
  src/event-tracker.ts
  src/logger.ts
  src/supervisor-api.ts
  src/supervisor.ts
  test/05-device-state.spec.ts
  test/09-event-tracker.spec.ts
  test/11-api-binder.spec.ts
  test/12-logger.spec.ts
  test/14-application-manager.spec.ts
  test/lib/mocked-device-api.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v11.6.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Fix exponential backoff for state polling
  src/device-state/target-state.ts
Due: balena-lint --typescript --fix

Make logger module a singleton
  src/api-binder.ts
  src/application-manager.d.ts
  src/application-manager.js
  src/compose/images.ts
  src/compose/network-manager.ts
  src/compose/network.ts
  src/compose/service-manager.ts
  src/compose/volume-manager.ts
  src/compose/volume.ts
  src/config/backend.ts
  src/config/utils.ts
  src/device-api/v2.ts
  src/device-config.ts
  src/device-state.ts
  src/local-mode.ts
  src/logger.ts
  src/logging/balena-backend.ts
  src/proxyvisor.js
  src/supervisor.ts
  test/05-device-state.spec.ts
  test/11-api-binder.spec.ts
  test/12-logger.spec.ts
  test/13-device-config.spec.ts
  test/14-application-manager.spec.ts
  test/20-compose-volume.spec.ts
  test/22-local-mode.spec.ts
  test/lib/mocked-device-api.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v11.6.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Refactored @ts-ignore to @ts-expect-error in test file
  test/11-api-binder.spec.ts
  test/12-logger.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v11.6.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

fix: API auth missing on state GET/PATCH
  src/device-state/target-state.ts
Due: balena-lint --typescript --fix

v11.6.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Make images module a singleton
  src/application-manager.d.ts
  src/application-manager.js
  src/compose/composition-steps.ts
  src/compose/images.ts
  src/device-api/v2.ts
  src/device-state/preload.ts
  src/proxyvisor.js
  test/05-device-state.spec.ts
  test/14-application-manager.spec.ts
  test/21-supervisor-api.spec.ts
  test/lib/mocked-device-api.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v11.6.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Respect an initialDeviceName field in the config.json
  src/api-binder.ts
  src/config/schema-type.ts
  src/config/schema.ts
Due: balena-lint --typescript --fix

v11.7.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Move database app processing out to its own module
  src/application-manager.d.ts
  src/application-manager.js
  src/compose/service.ts
  src/device-state/db-format.ts
  src/device-state/target-state-cache.ts
  src/lib/migration.ts
  src/types/state.ts
  test/05-device-state.spec.ts
  test/14-application-manager.spec.ts
  test/28-db-format.spec.ts
  test/data/state-endpoints/simple.json
  test/lib/application-manager-test-states.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Make target-state-cache a singleton
  src/application-manager.js
  src/device-state/target-state-cache.ts
Due: balena-lint --typescript --fix

v11.7.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Add label to expose gpu to container
  src/compose/service.ts
  src/compose/types/service.ts
  src/compose/utils.ts
  test/04-service.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v11.7.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Db-format module code fixups
  src/device-state/db-format.ts
Due: balena-lint --typescript --fix

v11.7.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Use API v6
  src/api-binder.ts
  test/lib/mocked-balena-api.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v11.8.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Update webpack dependencies
  package-lock.json
  package.json
  tsconfig.js.json
  webpack.config.js
Due: balena-lint --typescript --fix

v11.8.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Add supervisor upgrade document
  docs/upgrades.md
Due: none

Make service-manager module a singleton
  src/application-manager.d.ts
  src/application-manager.js
  src/compose/composition-steps.ts
  src/compose/service-manager.ts
  src/device-api/v2.ts
  src/lib/migration.ts
  test/lib/mocked-device-api.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Make network-manager module a singleton
  .gitignore
  src/application-manager.d.ts
  src/application-manager.js
  src/compose/composition-steps.ts
  src/compose/network-manager.ts
  test/lib/mocked-device-api.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Make volume-manager module a singleton
  src/application-manager.d.ts
  src/application-manager.js
  src/compose/composition-steps.ts
  src/compose/volume-manager.ts
  src/device-api/v2.ts
  src/lib/migration.ts
  test/lib/mocked-device-api.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v11.8.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Update pinejs-client-request to 7.x
  package-lock.json
  package.json
  repo.yml
  src/api-binder.ts
  webpack.config.js
Due: balena-lint --typescript --fix

v11.8.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

state: Report device MAC address to the API
  docs/API.md
  src/config/functions.ts
  src/config/schema-type.ts
  src/device-state.ts
  src/lib/constants.ts
  src/lib/mac-address.ts
  src/network.ts
  src/types/state.ts
  test/18-startup.spec.ts
  test/21-supervisor-api.spec.ts
  test/data/sys/class/net/balena0/address
  test/data/sys/class/net/balena0/type
  test/data/sys/class/net/enp0s3/address
  test/data/sys/class/net/enp0s3/type
  test/data/sys/class/net/enp0s4/address
  test/data/sys/class/net/enp0s4/type
  test/data/sys/class/net/master0/address
  test/data/sys/class/net/master0/master
  test/data/sys/class/net/master0/type
  test/data/sys/class/net/sit0/address
  test/data/sys/class/net/sit0/type
  test/lib/mocked-device-api.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v11.8.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Refactor backends into seperate files and added tests for extlinux
  src/config/backend.ts
  src/config/backends/config-fs.ts
  src/config/backends/extlinux.ts
  src/config/backends/raspberry-pi.ts
  src/config/utils.ts
  test/05-device-state.spec.ts
  test/13-device-config.spec.ts
  test/17-config-utils.spec.ts
  test/27-extlinux-config.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Added support for configuring FDT directive in extlinux.conf
  src/config/backends/backend.ts
  src/config/backends/config-fs.ts
  src/config/backends/extlinux-file.ts
  src/config/backends/extlinux.ts
  src/config/backends/raspberry-pi.ts
  src/config/utils.ts
  src/device-config.ts
  src/lib/errors.ts
  test/13-device-config.spec.ts
  test/27-extlinux-config.spec.ts
  test/29-append-directive.spec.ts
  test/30-fdt-directive.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Refactor device-config tests styling
  test/13-device-config.spec.ts
  test/17-config-utils.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Path conditions:
  balena-lint: any of: *.coffee
  balena-lint --typescript --fix: (any of: *.ts) or (any of: *.js)
  balena-lint --tests: any of: test/**/*.coffee
  balena-lint --typescript --no-prettier --tests: any of: test/**/*.ts
