Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: balena-lint, balena-lint --typescript --fix, balena-lint --tests, balena-lint --typescript --no-prettier --tests

Switch _.isFunction usage to native versions
  test/lib/mocked-dockerode.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Switch _.isNumber usage to native versions
  src/compose/service.ts
Due: balena-lint --typescript --fix

Switch _.isNaN usage to native versions
  src/compose/service.ts
  src/config/types.ts
Due: balena-lint --typescript --fix

Switch some _.includes usage to native versions
  src/compose/utils.ts
  src/device-config.ts
  src/device-state.ts
  src/host-config.ts
  src/lib/docker-utils.ts
  src/lib/validation.ts
Due: balena-lint --typescript --fix

Add note regading API jitter on target state poll
  src/device-state/target-state.ts
Due: balena-lint --typescript --fix

Ignore `expose` service compose configuration
  src/compose/ports.ts
  src/compose/sanitise.ts
  src/compose/service.ts
  src/compose/types/service.ts
  src/compose/utils.ts
  test/unit/compose/ports.spec.ts
  test/unit/compose/service.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Match full string when discovering docker volumes
  src/compose/volume.ts
Due: balena-lint --typescript --fix

Expose ports from port mappings on services
  src/compose/ports.ts
  src/compose/service.ts
  test/integration/state-engine.spec.ts
  test/unit/compose/ports.spec.ts
  test/unit/compose/service.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Set applyInProgress to true while applying intermediate state
  src/device-state.ts
Due: balena-lint --typescript --fix

Temporarily remove failing test
  test/integration/device-state.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

TEST
  src/device-api/v2.ts
Due: balena-lint --typescript --fix

Rework data migration to a usable condition
  src/api-binder/index.ts
  src/device-state.ts
  src/device-state/target-state.ts
  src/lib/migration.ts
Due: balena-lint --typescript --fix

Convert current state types to io-ts
  src/types/state.ts
Due: balena-lint --typescript --fix

Cache last reported current state to /mnt/root/tmp
  src/api-binder/report.ts
Due: balena-lint --typescript --fix

Update @balena/systemd to 0.5.0
  package-lock.json
  package.json
Due: none

Only build sqlite3 from source
  Dockerfile.template
Due: none

Include target-state-config dump file in testfs
  .mochapodrc.yml
Due: none

Force remove container if updateMetadata fails
  src/compose/service-manager.ts
Due: balena-lint --typescript --fix

WIP
  test/integration/compose/application-manager.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Separate routes & actions, add tests for GET /v2/device/name
  src/device-api/actions.ts
  src/device-api/v2.ts
  test/integration/device-api/actions.spec.ts
  test/integration/device-api/v2.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Separate routes & actions, add tests for GET /v2/device/vpn
  src/device-api/actions.ts
  src/device-api/v2.ts
  src/device-config.ts
  src/network.ts
  test/data/device-api-responses.json
  test/integration/device-api/actions.spec.ts
  test/integration/device-api/v2.spec.ts
  test/integration/network.spec.ts
  test/legacy/42-device-api-v2.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Separate routes & actions, add tests for /v2/device/tags
  src/device-api/actions.ts
  src/device-api/v2.ts
  test/integration/device-api/actions.spec.ts
  test/integration/device-api/v2.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Separate routes & actions, add tests for POST /v2/journal-logs
  src/device-api/actions.ts
  src/device-api/v2.ts
  src/lib/journald.ts
  src/logging/monitor.ts
  test/integration/device-api/actions.spec.ts
  test/integration/device-api/v2.spec.ts
  test/integration/lib/journald.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Separate routes & actions, add tests for GET /v2/cleanup-volumes
  src/compose/application-manager.ts
  src/device-api/actions.ts
  src/device-api/v2.ts
  test/integration/device-api/actions.spec.ts
  test/integration/device-api/v2.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Separate routes & actions, add tests for GET /v2/local/device-info
  src/device-api/actions.ts
  src/device-api/v2.ts
  test/integration/device-api/actions.spec.ts
  test/integration/device-api/v2.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Separate routes & actions, add tests for GET /v2/version
  src/config/functions.ts
  src/device-api/actions.ts
  src/device-api/v2.ts
  src/lib/request.ts
  src/lib/supervisor-version.ts
  src/supervisor.ts
  test/integration/device-api/v2.spec.ts
  test/legacy/10-api-binder.spec.ts
  test/unit/device-api/actions.spec.ts
  test/unit/lib/contracts.spec.ts
  test/unit/lib/supervisor-version.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Separate routes & actions, add tests for GET /v2/containerId
  src/compose/application-manager.ts
  src/device-api/actions.ts
  src/device-api/v2.ts
  test/integration/compose/application-manager.spec.ts
  test/integration/device-api/actions.spec.ts
  test/integration/device-api/v2.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

docs: api: start-service: specify this endpoint affects the device
  docs/API.md
Due: none

Refactor mdns lookup code in app entry
  src/app.ts
Due: balena-lint --typescript --fix

Try MDNS lookup only if regular DNS lookup fails
  src/app.ts
Due: balena-lint --typescript --fix

Add prettierrc for editor compatibility
  .editorconfig
  .prettierrc.js
Due: balena-lint --typescript --fix

Improve test:compose and test:env commands
  README.md
  package.json
Due: none

Enable nodemon when using test:env
  Dockerfile.template
  docker-compose.dev.yml
Due: none

Fix docker utils tests for docker v25
  test/integration/lib/docker-utils.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Pin docker version to v24 for tests
  docker-compose.test.yml
Due: none

Use the state-helper functions in app module tests
  test/lib/state-helper.ts
  test/unit/compose/app.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Respect update strategies app-wide instead of at the service level
  src/compose/app.ts
  src/compose/update-strategies.ts
  test/integration/compose/application-manager.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Add tests for dtoverlay management in config.txt
  test/integration/config/config-txt.spec.ts
  test/integration/device-config.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Refactor config-txt backend
  src/config/backends/config-txt.ts
Due: balena-lint --typescript --fix

Fix processing of dtoverlay/dtparams on config.txt
  src/config/backends/config-txt.ts
Due: balena-lint --typescript --fix

Path conditions:
  balena-lint: any of: *.coffee
  balena-lint --typescript --fix: (any of: *.ts) or (any of: *.js)
  balena-lint --tests: any of: test/**/*.coffee
  balena-lint --typescript --no-prettier --tests: any of: test/**/*.ts
