Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: balena-lint, balena-lint --typescript --fix, balena-lint --tests, balena-lint --typescript --no-prettier --tests

Refactor README to include more specific PR documentation
  README.md
Due: none

v12.6.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Avoid double `omit`s whilst filtering current state
  src/device-state/current-state.ts
  src/types/state.ts
Due: balena-lint --typescript --fix

Simplify/optimize filtering non-significant sys info changes
  src/device-state/current-state.ts
  src/lib/system-info.ts
  test/38-sys-info.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Bump contrato from 0.5.0 to 0.6.3
  package-lock.json
  package.json
Due: none

v12.6.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Patch awaiting response when checking if supervisor0 network exists
  src/compose/network-manager.ts
Due: balena-lint --typescript --fix

Fix parsing driver_opts from compose to docker network creation
  src/compose/network-manager.ts
Due: balena-lint --typescript --fix

Fix parsing driver_opts from compose to docker network creation
  src/compose/network.ts
  test/src/compose/network.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Fix parsing driver_opts from compose to docker network creation
  README.md
Due: none

v12.6.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

v12.6.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Change container name to balena_supervisor
  src/local-mode.ts
  src/logging/monitor.ts
  sync/device.ts
  tools/dind/start-resin-supervisor
  tools/sync.js
Due: balena-lint --typescript --fix

Rename resin-supervisor to balena-supervisor
  README.md
  dindctl
  docs/update-locking.md
  package.json
  src/config/functions.ts
  sync/device.ts
  test/22-local-mode.spec.ts
  tools/dind/start-resin-supervisor
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Rename meta-resin to meta-balena
  .gitignore
  src/config/functions.ts
Due: balena-lint --typescript --fix

Backwards compatility changes for old resin namespaces
  src/local-mode.ts
  src/logging/monitor.ts
  sync/device.ts
Due: balena-lint --typescript --fix

Show warning instead of exception for invalid network config
  src/compose/network.ts
  test/src/compose/network.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.6.8
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Rename start-resin-supervisor to start-balena-supervisor
  tools/dind/start-balena-supervisor
Due: none

v12.7.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

v12.7.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

v12.7.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

v12.7.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Upgrade mocha to v8, use mocha fixtures for chai plugins
  package-lock.json
  package.json
  test/.mocharc.fast.js
  test/.mocharc.js
  test/00-init.spec.ts
  test/03-config.spec.ts
  test/04-service.spec.ts
  test/05-device-state.spec.ts
  test/08-event-tracker.spec.ts
  test/10-api-binder.spec.ts
  test/12-device-config.spec.ts
  test/13-application-manager.spec.ts
  test/16-config-utils.spec.ts
  test/20-compose-volume.spec.ts
  test/22-local-mode.spec.ts
  test/23-contracts.spec.ts
  test/25-journald.spec.ts
  test/27-extlinux-config.spec.ts
  test/28-db-format.spec.ts
  test/29-append-directive.spec.ts
  test/30-fdt-directive.spec.ts
  test/32-compose-app-manager.spec.ts
  test/33-extra-uenv-config.spec.ts
  test/37-odmdata-config.spec.ts
  test/39-compose-commit.spec.ts
  test/39-compose-images.spec.ts
  test/40-target-state.spec.ts
  test/44-volume-manager.spec.ts
  test/config/fixtures.ts
  test/fast-mocha.opts
  test/lib/chai-config.ts
  test/lib/mocked-event-tracker.ts
  test/mocha.opts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.7.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Fix undervoltage regex, add undervoltage tests, move sysinfo suite to test/src
  src/lib/system-info.ts
  test/data/foo.json
  test/data/serial-number
  test/src/lib/system-info.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Create & unify src/device-state/current-state tests
  src/device-state/current-state.ts
  src/lib/errors.ts
  test/05-device-state.spec.ts
  test/10-api-binder.spec.ts
  test/src/device-state/current-state.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Add toggleable `SUPERVISOR_HARDWARE_METRICS` config
  src/config/schema-type.ts
  src/config/schema.ts
  src/device-config.ts
  src/device-state/current-state.ts
  src/lib/system-info.ts
  test/12-device-config.spec.ts
  test/lib/helpers.ts
  test/src/device-state/current-state.spec.ts
  test/src/lib/system-info.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Add `SUPERVISOR_HARDWARE_METRICS` to config documentation
  docs/configurations.md
  test/src/lib/system-info.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.8.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Specify that all restart API endpoints remove and recreate containers
  docs/API.md
Due: none

typo: bandwith -> bandwidth in HARDWARE_METRICS entry
  docs/configurations.md
Due: none

WIP: Proxyvisor patches
  src/compose/application-manager.ts
  src/device-state.ts
  src/proxyvisor.js
  src/types/state.ts
Due: balena-lint --typescript --fix

v12.8.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Revert multiline bullet points in notes
  docs/API.md
Due: none

v12.8.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Support app uuids and release version on target state
  src/compose/app.ts
  src/compose/application-manager.ts
  src/compose/images.ts
  src/compose/network.ts
  src/compose/service-manager.ts
  src/compose/service.ts
  src/compose/types/service.ts
  src/compose/volume-manager.ts
  src/compose/volume.ts
  src/device-state.ts
  src/device-state/db-format.ts
  src/device-state/preload.ts
  src/device-state/target-state-cache.ts
  src/device-state/target-state.ts
  src/lib/migration.ts
  src/lib/validation.ts
  src/migrations/M00007.js
  src/types/state.ts
  test/05-device-state.spec.ts
  test/06-validation.spec.ts
  test/13-application-manager.spec.ts
  test/20-compose-volume.spec.ts
  test/28-db-format.spec.ts
  test/32-compose-app-manager.spec.ts
  test/34-firewall.spec.ts
  test/36-compose-app.spec.ts
  test/40-app-uuids.spec.ts
  test/44-volume-manager.spec.ts
  test/data/apps-pin.json
  test/data/apps.json
  test/data/testconfig-uuid.json
  test/data/uuid-target-state.json
  test/lib/application-state-mock.ts
  test/lib/compose-helpers.ts
  test/lib/mocked-dockerode.ts
  test/lib/prepare.ts
  test/src/compose/network.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Path conditions:
  balena-lint: any of: *.coffee
  balena-lint --typescript --fix: (any of: *.ts) or (any of: *.js)
  balena-lint --tests: any of: test/**/*.coffee
  balena-lint --typescript --no-prettier --tests: any of: test/**/*.ts
