Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: balena-lint, balena-lint --typescript --fix, balena-lint --tests, balena-lint --typescript --no-prettier --tests

.lintstagedrc:

{
	"*.coffee": [
		"balena-lint"
	],
	"*.ts": [
		"balena-lint --typescript --fix",
	],
	"*.js": [
		"balena-lint --typescript --fix",
	],
	"test/**/*.coffee": [
		"balena-lint --tests"
	],
	"test/**/*.ts": [
		"balena-lint --typescript --no-prettier --tests"
	],
}

Ignore unknown image classes on the target state
  src/compose/app.ts
  src/compose/images.ts
  src/device-state/preload.ts
Due: balena-lint --typescript --fix

Ignore supervisor service on the target state
  entry.sh
  src/compose/app.ts
  src/compose/application-manager.ts
  src/lib/constants.ts
  src/lib/supervisor-metadata.ts
Due: balena-lint --typescript --fix

Add support for running commands on the host
  src/lib/host-utils.ts
  src/lib/journald.ts
Due: balena-lint --typescript --fix

Prevent a recursive loop when reporting current state
  src/device-state/current-state.ts
  test/src/device-state/current-state.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.8.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Add support for host overlays
  src/compose/app.ts
  src/compose/application-manager.ts
  src/compose/composition-steps.ts
  src/compose/network.ts
  src/compose/overlay-manager.ts
  src/compose/overlay.ts
  src/compose/service.ts
  src/compose/volume.ts
  src/device-state/preload.ts
  src/lib/log-types.ts
  src/lib/validation.ts
  src/logger.ts
  test/44-volume-manager.spec.ts
  test/lib/compose-helpers.ts
  test/src/compose/overlay-manager.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Refactor debug log when unmanaged volume is found
  src/compose/volume-manager.ts
  test/44-volume-manager.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.8.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Improve target state typings
  src/compose/application-manager.ts
  src/device-state/preload.ts
  src/device-state/target-state-cache.ts
  src/lib/validation.ts
  src/types/state.ts
  test/05-device-state.spec.ts
  test/32-compose-app-manager.spec.ts
  test/lib/application-manager-test-states.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.8.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Document the current state of HOST_FIREWALL_MODE
  docs/firewall.md
Due: none

v12.8.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

v12.8.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Add revpi-connect, revpi-core-3 to Raspberry Pi variants
  src/config/backends/config-txt.ts
Due: balena-lint --typescript --fix

v12.8.8
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Add download progress LED blink
  src/device-state/current-state.ts
  src/lib/download-progress.ts
Due: balena-lint --typescript --fix

Fix supervisor using wrong source for deltas
  src/compose/application-manager.ts
Due: balena-lint --typescript --fix

v12.8.9
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Prevent updates/reboots with locks when HUP breadcrumbs present
  src/device-state.ts
  src/lib/constants.ts
  src/lib/update-lock.ts
  test/05-device-state.spec.ts
  test/src/lib/update-lock.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.8.10
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Remove codeowners file
  .github/CODEOWNERS
Due: none

v12.8.11
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

v12.8.12
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Improve testing for supervisor composition modules
  src/compose/application-manager.ts
  test/04-service.spec.ts
  test/13-application-manager.spec.ts
  test/20-compose-volume.spec.ts
  test/32-compose-app-manager.spec.ts
  test/36-compose-app.spec.ts
  test/39-compose-images.spec.ts
  test/44-volume-manager.spec.ts
  test/data/compose-image-data.json
  test/lib/application-state-mock.ts
  test/lib/db-helper.ts
  test/lib/mockerode.ts
  test/src/compose/app.spec.ts
  test/src/compose/application-manager.spec.ts
  test/src/compose/images.spec.ts
  test/src/compose/network.spec.ts
  test/src/compose/service.spec.ts
  test/src/compose/volume-manager.spec.ts
  test/src/compose/volume.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.9.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Clarify that /v2/applications/:appId/stop-service is temporary
  docs/API.md
Due: none

v12.9.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Point users to the configuration page for overriding update locks
  docs/update-locking.md
Due: none

v12.9.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Various fixes and improvements
  src/device-state/current-state.ts
  src/lib/download-progress.ts
  tsconfig.json
Due: balena-lint --typescript --fix

Allow users to override HUP lock if device is stuck in invalid state
  src/device-state.ts
  src/lib/update-lock.ts
  test/05-device-state.spec.ts
  test/src/lib/update-lock.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.9.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Fix db-helper module for tests
  test/lib/db-helper.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.9.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Added docker-compose.yml file
  docker-compose.yml
Due: none

Added docker-compose.yml and Dockerfile.template for building release
  Dockerfile.template
  docker-compose.yml
Due: none

Remove test led file in favor of mock fs
  .gitignore
  test/00-init.spec.ts
  test/07-blink.spec.ts
  test/lib/prepare.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Encapsulate lib/dbus module, refactor mocked-dbus
  src/lib/dbus.ts
  test/00-init.spec.ts
  test/41-device-api-v1.spec.ts
  test/config/fixtures.ts
  test/lib/mocked-dbus.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Remove unused test/lib/mocked-database
  test/lib/mocked-database.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

fsUtils: remove duplicate test hook calls, fix exists suite
  test/src/lib/fs-utils.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests
