Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: balena-lint, balena-lint --typescript --fix, balena-lint --tests, balena-lint --typescript --no-prettier --tests

v11.9.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

firewall: Add Host Firewall functionality
  src/config/index.ts
  src/config/schema-type.ts
  src/config/schema.ts
  src/device-config.ts
  src/lib/firewall.ts
  src/lib/iptables.ts
  src/supervisor-api.ts
  src/supervisor.ts
  test/00-init.ts
  test/05-device-state.spec.ts
  test/06-iptables.spec.ts
  test/11-api-binder.spec.ts
  test/13-device-config.spec.ts
  test/21-supervisor-api.spec.ts
  test/26-supervisor-api-auth.spec.ts
  test/29-firewall.spec.ts
  test/lib/mocked-iptables.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

scoped-api-keys: Add middleware and filter results
  src/compose/service-manager.ts
  src/device-api/common.js
  src/device-api/v2.ts
  src/lib/api-secrets.ts
  src/supervisor-api.ts
  test/21-supervisor-api.spec.ts
  test/27-supervisor-api-auth.spec.ts
  test/lib/mocked-device-api.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v11.9.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

avahi: Control with HOST_DISCOVERABILITY
  src/config/schema-type.ts
  src/config/schema.ts
  src/device-config.ts
  src/lib/avahi.ts
  src/lib/dbus.ts
  src/supervisor.ts
  test/05-device-state.spec.ts
  test/13-device-config.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v11.9.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Well-define types in serviceManager.updateMetadata
  src/compose/service-manager.ts
Due: balena-lint --typescript --fix

Export CompositionStep type from composition-steps module
  src/application-manager.d.ts
  src/compose/composition-steps.ts
  src/device-state.ts
Due: balena-lint --typescript --fix

Ensure appId is always set in Service instance
  src/compose/service.ts
Due: balena-lint --typescript --fix

Small composition step module fixups
  src/compose/composition-steps.ts
Due: balena-lint --typescript --fix

Fix some service and App typings
  src/compose/service.ts
  src/compose/types/service.ts
  src/types/state.ts
Due: balena-lint --typescript --fix

Remove unused Image typing
  src/types/image.ts
Due: balena-lint --typescript --fix

Dont use Bluebird.try and add ImageForService to images module
  src/compose/images.ts
Due: balena-lint --typescript --fix

Split up application-manager and convert to typescript
  src/application-manager.d.ts
  src/application-manager.js
  src/compose/app.ts
  src/compose/application-manager.ts
  src/compose/composition-steps.ts
  src/compose/update-strategies.ts
  src/device-api/v1.js
  src/device-api/v2.ts
  src/device-state/db-format.ts
  src/proxyvisor.js
  test/29-compose-app-manager.spec.ts
  test/30-compose-app.ts
  test/data/docker-states/networks/1623449_default.json
  test/data/docker-states/supervisor-api/inspect.json
  test/lib/application-state-mock.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Fix bug where a promise was not resolved in db-format
  src/device-state/db-format.ts
Due: balena-lint --typescript --fix

Convert deviceConfig module to a singleton
  src/api-binder.ts
  src/device-api/v2.ts
  src/device-config.ts
  src/device-state.ts
  src/device-state/preload.ts
  test/05-device-state.spec.ts
  test/13-device-config.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v11.9.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

tmp
  src/api-binder.ts
Due: balena-lint --typescript --fix

bug: Fix unhandled promise rejection
  src/lib/firewall.ts
  src/lib/iptables.ts
  test/13-device-config.spec.ts
  test/29-firewall.spec.ts
  test/lib/mocked-iptables.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v11.9.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Declare ESR 11.9.x
  repo.yml
Due: none

Update ESR version information
  repo.yml
Due: none

v11.9.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

tmp -device state
  src/api-binder.ts
  src/device-state.ts
  src/supervisor.ts
Due: balena-lint --typescript --fix

Fix purge invocations of new singletons
  src/device-api/common.js
Due: balena-lint --typescript --fix

Fix purge and restart invocations by providing instanced apps
  src/device-api/common.js
Due: balena-lint --typescript --fix

v11.9.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Fix docker-util using incorrect reference for function
  src/lib/docker-utils.ts
Due: balena-lint --typescript --fix

docker-utils: Test network gateway determination logic
  test/31-docker-utils.spec.ts
  test/lib/mocked-dockerode.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v11.9.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

v11.9.8
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Sleep for N seconds on SIGTERM
  src/supervisor.ts
Due: balena-lint --typescript --fix

api-binder: Convert to a singleton
  src/api-binder.ts
  src/device-state.ts
  src/lib/api-helper.ts
  src/lib/errors.ts
  src/supervisor.ts
  test/00-init.ts
  test/11-api-binder.spec.ts
  test/18-startup.spec.ts
  test/21-supervisor-api.spec.ts
  test/lib/mocked-device-api.ts
  test/lib/mocked-event-tracker.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

device-state: Convert to a singleton
  package-lock.json
  package.json
  src/api-binder.ts
  src/application-manager.d.ts
  src/application-manager.js
  src/device-api/v2.ts
  src/device-state.ts
  src/device-state/preload.ts
  src/lib/migration.ts
  src/supervisor.ts
  test/03-config.spec.ts
  test/05-device-state.spec.ts
  test/11-api-binder.spec.ts
  test/14-application-manager.spec.ts
  test/18-startup.spec.ts
  test/21-supervisor-api.spec.ts
  test/lib/mocked-device-api.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

common: Fix bug where aliases might be undefined
  src/device-api/common.js
Due: balena-lint --typescript --fix

v11.9.9
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

log detection of changes to VPN status
  src/network.ts
  test/10-network.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v11.9.10
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Extract current state reporting to its own module
  src/api-binder.ts
  src/device-state/current-state.ts
  src/lib/request.ts
  test/11-api-binder.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Path conditions:
  balena-lint: any of: *.coffee
  balena-lint --typescript --fix: (any of: *.ts) or (any of: *.js)
  balena-lint --tests: any of: test/**/*.coffee
  balena-lint --typescript --no-prettier --tests: any of: test/**/*.ts
