Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: balena-lint, balena-lint --typescript --fix, balena-lint --tests, balena-lint --typescript --no-prettier --tests

Suppress log.api calls during API tests
  test/41-device-api-v1.spec.ts
  test/42-device-api-v2.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Log the delta URL that will be downloaded on update
  src/lib/docker-utils.ts
Due: balena-lint --typescript --fix

v12.9.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Use tags to track supervised images in docker
  package.json
  src/compose/application-manager.ts
  src/compose/images.ts
  src/compose/service.ts
  src/lib/docker-utils.ts
  test/05-device-state.spec.ts
  test/41-device-api-v1.spec.ts
  test/42-device-api-v2.spec.ts
  test/lib/mockerode.ts
  test/src/compose/application-manager.spec.ts
  test/src/compose/images.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.9.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Refactor image "volatile state" to use state pattern
  src/compose/images.ts
Due: balena-lint --typescript --fix

Remove image manager appUpdatePollInterval listener
  src/compose/application-manager.ts
  src/compose/images.ts
Due: balena-lint --typescript --fix

Update apiSecret table to id services by name
  src/compose/utils.ts
  src/device-api/common.js
  src/lib/api-keys.ts
  src/migrations/M00007.js
  test/21-supervisor-api.spec.ts
  test/41-device-api-v1.spec.ts
  test/42-device-api-v2.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Update tests removing dependency on db ids
  test/28-db-format.spec.ts
  test/src/compose/app.spec.ts
  test/src/compose/application-manager.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Remove comparison based on image, release, and service ids
  src/compose/app.ts
  src/compose/application-manager.ts
  src/compose/images.ts
  src/compose/service-manager.ts
  src/compose/service.ts
Due: balena-lint --typescript --fix

v12.10.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Force remove container on Docker daemon 409
  src/compose/service-manager.ts
Due: balena-lint --typescript --fix

Fix regression with local mode push
  src/compose/application-manager.ts
  src/lib/docker-utils.ts
Due: balena-lint --typescript --fix

v12.10.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Removed fire emoji prefix for firewall logs.
  src/lib/firewall.ts
Due: balena-lint --typescript --fix

v12.10.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

config: Add developmentMode to schema
  src/config/schema-type.ts
  src/config/schema.ts
Due: balena-lint --typescript --fix

os-release: Use developmentMode to ascertain OS variant in new releases
  src/lib/os-release.ts
  test/03-config.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

api-keys: Remove os variant parameter for authentication check
  src/lib/api-keys.ts
Due: balena-lint --typescript --fix

Add toggleable `SUPERVISOR_DEVELOPMENT_MODE` config
  docs/configurations.md
  src/device-config.ts
  src/device-state/current-state.ts
  test/12-device-config.spec.ts
  test/src/device-state/current-state.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

patch: Update fleet terminology for Application Update Locks
  docs/update-locking.md
Due: none

patch: Update fleet terminology for application update locks
  docs/update-locking.md
Due: none

Fixed dindctl not removing volumes.
  dindctl
Due: none

Created new dind tool, works with latest supervisor.
  tools/dind/dind2
Due: none

backends/extra-uEnv: Extend custom DTB support for Jetson TX2 NX
  src/config/backends/extra-uEnv.ts
Due: balena-lint --typescript --fix

test: Update extra_uEnv test slugs list
  test/33-extra-uenv-config.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Skip restarting services if they are part of conf targets
  src/host-config.ts
  src/lib/dbus.ts
  test/41-device-api-v1.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.10.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Set up dev env for local UI using livepush
  .gitignore
  Dockerfile
  entry.sh
  frontend/.gitignore
  frontend/Dockerfile.template
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/server.ts
  frontend/src/App.tsx
  frontend/src/index.tsx
  frontend/src/template.html
  frontend/tsconfig.json
  frontend/webpack.dev.config.js
  frontend/webpack.prod.config.js
Due: balena-lint --typescript --fix

Add methods to acquire Supervisor global API key
  Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/server/constants.ts
  frontend/server/index.ts
  frontend/server/supervisor-db.ts
  frontend/tsconfig.json
Due: balena-lint --typescript --fix

Include issues with downgrading versions in README
  README.md
Due: none

v12.10.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Clean up configurations.md
  docs/configurations.md
Due: none

v12.10.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Remove "variable list" heading in configuration doc
  docs/configurations.md
Due: none

v12.10.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

v12.10.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Path conditions:
  balena-lint: any of: *.coffee
  balena-lint --typescript --fix: (any of: *.ts) or (any of: *.js)
  balena-lint --tests: any of: test/**/*.coffee
  balena-lint --typescript --no-prettier --tests: any of: test/**/*.ts
