Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: balena-lint, balena-lint --typescript --fix, balena-lint --tests, balena-lint --typescript --no-prettier --tests

.lintstagedrc:

{
	"*.coffee": [
		"balena-lint"
	],
	"*.ts": [
		"balena-lint --typescript --fix",
	],
	"*.js": [
		"balena-lint --typescript --fix",
	],
	"test/**/*.coffee": [
		"balena-lint --tests"
	],
	"test/**/*.ts": [
		"balena-lint --typescript --no-prettier --tests"
	],
}

v14.4.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Use `got` for fetching the target state in order to have brotli support
  package-lock.json
  package.json
  src/device-state/target-state.ts
  src/lib/request.ts
Due: balena-lint --typescript --fix

Fix journalctl to work with persistent logs
  entry.sh
Due: none

v14.4.8
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

v14.4.9
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Use readFromBoot to read VPN status
  src/network.ts
Due: balena-lint --typescript --fix

Create mechanism to read files from host /
  src/lib/host-utils.ts
Due: balena-lint --typescript --fix

Docs: clarify that Supervisor creates lockfiles as nobody UID
  docs/update-locking.md
Due: none

v14.4.10
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Use identify action for POST /v1/blink
  src/device-api/actions.ts
  src/device-api/index.ts
  test/integration/device-api/v1.spec.ts
  test/legacy/41-device-api-v1.spec.ts
  test/unit/device-api/actions.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Use runHealthchecks action for GET /v1/healthy
  src/device-api/actions.ts
  src/device-api/index.ts
  test/integration/device-api/v1.spec.ts
  test/legacy/41-device-api-v1.spec.ts
  test/unit/device-api/actions.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Add tests for doRestart action and v1/v2 app restart routes
  docker-compose.test.yml
  src/device-api/actions.ts
  src/device-api/common.ts
  src/device-api/v1.ts
  src/device-api/v2.ts
  test/integration/device-api/actions.spec.ts
  test/integration/device-api/v2.spec.ts
  test/integration/lib/docker-utils.spec.ts
  test/legacy/41-device-api-v1.spec.ts
  test/lib/docker-helper.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Use regenerateKey action for POST /v1/regenerate-api-key
  src/device-api/actions.ts
  src/device-api/index.ts
  test/integration/device-api/actions.spec.ts
  test/integration/device-api/v1.spec.ts
  test/legacy/41-device-api-v1.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Add tests for doPurge action and v1/v2 app purge routes
  src/device-api/actions.ts
  src/device-api/common.ts
  src/device-api/v1.ts
  src/device-api/v2.ts
  test/integration/device-api/actions.spec.ts
  test/integration/device-api/v1.spec.ts
  test/integration/device-api/v2.spec.ts
  test/legacy/41-device-api-v1.spec.ts
  test/lib/docker-helper.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Use executeServiceAction for v1/v2 service action endpoints
  src/device-api/actions.ts
  src/device-api/messages.ts
  src/device-api/v1.ts
  src/device-api/v2.ts
  src/lib/errors.ts
  src/lib/validation.ts
  test/integration/device-api/actions.spec.ts
  test/integration/device-api/v1.spec.ts
  test/integration/device-api/v2.spec.ts
  test/legacy/41-device-api-v1.spec.ts
  test/legacy/42-device-api-v2.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Write update action and tests, remove isReadyForUpdate check
  src/device-api/actions.ts
  src/device-api/v1.ts
  test/integration/device-api/actions.spec.ts
  test/integration/device-api/v1.spec.ts
  test/legacy/41-device-api-v1.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Use actions & write tests for GET /v1/device
  src/device-api/actions.ts
  src/device-api/v1.ts
  test/integration/device-api/actions.spec.ts
  test/integration/device-api/v1.spec.ts
  test/legacy/41-device-api-v1.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Use actions & write tests for GET /v1/apps/:appId
  src/device-api/actions.ts
  src/device-api/v1.ts
  test/integration/device-api/actions.spec.ts
  test/integration/device-api/v1.spec.ts
  test/legacy/41-device-api-v1.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Move reboot/shutdown to actions and related tests to integration
  src/device-api/actions.ts
  src/device-api/v1.ts
  src/device-state.ts
  test/integration/device-api/actions.spec.ts
  test/integration/device-api/v1.spec.ts
  test/legacy/41-device-api-v1.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Update host-config, route, and action tests for host config endpoints
  src/device-api/actions.ts
  src/device-api/v1.ts
  src/host-config.ts
  test/data/device-api-responses.json
  test/data/mnt/boot/system-proxy/no_proxy.template
  test/data/mnt/boot/system-proxy/redsocks.conf.template
  test/integration/compose/application-manager.spec.ts
  test/integration/device-api/actions.spec.ts
  test/integration/device-api/v1.spec.ts
  test/integration/host-config.spec.ts
  test/legacy/41-device-api-v1.spec.ts
  test/lib/application-state-mock.ts
  test/lib/state-helper.ts
  test/unit/device-api/actions.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v14.5.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Correctly use the extended got instance for target-state
  src/device-state/target-state.ts
  src/lib/request.ts
Due: balena-lint --typescript --fix

v14.5.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Allow external contribtions to execute checks
  .github/workflows/flowzone.yml
Due: none

v14.5.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Update: add renovate.json
  renovate.json
Due: none

Allow using colon character in config vars
  src/types/basic.ts
  src/types/state.ts
  test/unit/lib/validation.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v14.6.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Remove custom action restriction for external contributors
  .github/workflows/flowzone.yml
Due: none

v14.6.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Fix grammar and simplify some phrases
  docs/debugging-supervisor.md
Due: none

patch: Migrate Supervisor Debugging docs from masterclass
  docs/debugging-supervisor.md
Due: none

Test to see flowzone behavior
  .github/workflows/flowzone.yml
Due: none

Add syslog service to docker compose
  docker-compose.yml
Due: none

v14.6.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Test commit to see CI/CD behavior for 3rd party PRs
  README.md
Due: none

Update deploy-to-balena action to 0.26.0
  .github/actions/finalize/action.yml
  .github/actions/publish/action.yml
Due: none

v14.6.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Update Flowzone to kyle/draft-downstream
  .github/workflows/flowzone.yml
Due: none

Fix wait-for-it script to work with external signals
  test/lib/wait-for-it.sh
Due: none
