Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: balena-lint, balena-lint --typescript --fix, balena-lint --tests, balena-lint --typescript --no-prettier --tests

Add update lock check to PATCH /v1/device/host-config
  docs/API.md
  src/device-state.ts
  src/host-config.ts
  test/41-device-api-v1.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Fix apiUpdatePollInterval default to line up with API
  src/config/schema-type.ts
  src/device-config.ts
  test/03-config.spec.ts
  test/12-device-config.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Perform config.json sequentially to other config changes
  src/device-config.ts
  test/12-device-config.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Split device-config step calculation into separate functions
  src/device-config.ts
Due: balena-lint --typescript --fix

Create `touch` and `getBootTime` utility functions
  src/lib/fs-utils.ts
  test/src/lib/fs-utils.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Update signature of fsUtils.getPathOnHost
  src/lib/fs-utils.ts
  src/lib/update-lock.ts
  test/src/lib/fs-utils.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Use a breadcrumb to mark that a reboot is required
  src/device-config.ts
  test/12-device-config.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Implement `SUPERVISOR_REPORT_INTERVAL` config var
  src/api-binder.ts
  src/config/schema-type.ts
  src/config/schema.ts
  src/device-config.ts
  src/device-state/current-state.ts
  src/lib/constants.ts
Due: balena-lint --typescript --fix

v12.11.34
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

v12.11.35
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Ignore selinux security opts when comparing services
  src/compose/service.ts
  test/src/compose/service.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.11.36
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Fix check for supervisor0 network
  src/compose/network-manager.ts
Due: balena-lint --typescript --fix

v12.11.37
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Apply target state if loaded from file (apps.json)
  src/device-state.ts
  src/device-state/preload.ts
Due: balena-lint --typescript --fix

v12.11.38
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Added PR template doc
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Move report throttle out of reporting logic
  package-lock.json
  package.json
  src/device-state/current-state.ts
  src/lib/backoff.ts
  test/src/lib/backoff.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Update npm dep sinon to v11.1.2
  package-lock.json
  package.json
Due: none

v12.11.39
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

update packages for vulnerabilities
  package-lock.json
Due: none

Only count report connectivity errors for healthcheck
  src/device-state/current-state.ts
Due: balena-lint --typescript --fix

v12.11.40
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

v12.11.41
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Moved test setup into file included for all tests
  test/00-init.spec.ts
  test/config/fixtures.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.11.42
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Always add status to image download report
  src/compose/images.ts
Due: balena-lint --typescript --fix

v12.11.43
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Add support for GET v3 target state
  src/api-binder.ts
  src/compose/application-manager.ts
  src/compose/images.ts
  src/compose/service.ts
  src/device-api/v2.ts
  src/device-state.ts
  src/device-state/db-format.ts
  src/device-state/preload.ts
  src/device-state/target-state-cache.ts
  src/device-state/target-state.ts
  src/lib/contracts.ts
  src/lib/migration.ts
  src/migrations/M00008.js
  src/types/basic.ts
  src/types/state.ts
  test/05-device-state.spec.ts
  test/06-validation.spec.ts
  test/28-db-format.spec.ts
  test/34-firewall.spec.ts
  test/data/apps-pin.json
  test/data/apps.json
  test/data/docker-states/entrypoint/compose.json
  test/data/docker-states/entrypoint/inspect.json
  test/data/docker-states/network-mode-service/compose.json
  test/data/docker-states/network-mode-service/inspect.json
  test/data/docker-states/simple/compose.json
  test/data/docker-states/simple/inspect.json
  test/data/state-endpoints/simple.json
  test/src/compose/app.spec.ts
  test/src/compose/application-manager.spec.ts
  test/src/compose/images.spec.ts
  test/src/compose/service.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Rename aplication manager getStatus as getLegacyState
  src/compose/application-manager.ts
  src/compose/images.ts
  src/compose/service-manager.ts
  src/device-api/v2.ts
  src/device-state.ts
  src/device-state/current-state.ts
  test/42-device-api-v2.spec.ts
  test/lib/mocked-device-api.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Convert target state in local endpoints
  package-lock.json
  package.json
  src/device-api/v2.ts
  src/lib/legacy.ts
  test/src/lib/legacy.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Add app uuid as metadata to new volumes
  src/compose/app.ts
  src/compose/volume-manager.ts
  src/compose/volume.ts
  src/lib/legacy.ts
  test/src/compose/app.spec.ts
  test/src/compose/application-manager.spec.ts
  test/src/compose/volume-manager.spec.ts
  test/src/compose/volume.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Cleanup current state reporting methods
  src/compose/application-manager.ts
  src/device-config.ts
  src/device-state.ts
  src/device-state/current-state.ts
Due: balena-lint --typescript --fix

Clean up migration from legacy target state format
  src/compose/volume-manager.ts
  src/device-state/legacy.ts
  src/device-state/preload.ts
  src/lib/legacy.ts
  src/lib/migration.ts
  src/supervisor.ts
Due: balena-lint --typescript --fix

Refactor api-binder as a directory
  src/api-binder/index.ts
  src/api-binder/report.ts
  test/10-api-binder.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Rename networks to `<appUuid>_<networkName>`
  src/compose/app.ts
  src/compose/network-manager.ts
  src/compose/network.ts
  src/compose/service.ts
  test/28-db-format.spec.ts
  test/data/docker-states/entrypoint/inspect.json
  test/data/docker-states/network-mode-service/inspect.json
  test/data/docker-states/simple/inspect.json
  test/lib/mocked-device-api.ts
  test/src/compose/app.spec.ts
  test/src/compose/application-manager.spec.ts
  test/src/compose/network.spec.ts
  test/src/compose/service.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Update types and create methods for reporting v3 state
  src/api-binder.ts
  src/compose/application-manager.ts
  src/compose/composition-steps.ts
  src/compose/images.ts
  src/compose/service-manager.ts
  src/device-state.ts
  src/device-state/current-state.ts
  src/types/state.ts
  test/src/compose/application-manager.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Allow application manager to match apps between environments
  src/compose/application-manager.ts
Due: balena-lint --typescript --fix

Refactor current state report to patch v3 state
  src/api-binder/report.ts
  src/device-state.ts
  src/lib/json.ts
  src/types/state.ts
  test/src/lib/json.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Only uninstall 'fleet' apps when localMode is set
  src/device-state/target-state-cache.ts
  test/05-device-state.spec.ts
  test/22-local-mode.spec.ts
  test/28-db-format.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Path conditions:
  balena-lint: any of: *.coffee
  balena-lint --typescript --fix: (any of: *.ts) or (any of: *.js)
  balena-lint --tests: any of: test/**/*.coffee
  balena-lint --typescript --no-prettier --tests: any of: test/**/*.ts
