Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: balena-lint, balena-lint --typescript --fix, balena-lint --tests, balena-lint --typescript --no-prettier --tests

.lintstagedrc:

{
	"*.coffee": [
		"balena-lint"
	],
	"*.ts": [
		"balena-lint --typescript --fix",
	],
	"*.js": [
		"balena-lint --typescript --fix",
	],
	"test/**/*.coffee": [
		"balena-lint --tests"
	],
	"test/**/*.ts": [
		"balena-lint --typescript --no-prettier --tests"
	],
}

v11.14.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Refactor extra_uEnv backend to match with more devices
  src/config/backends/extra-uEnv.ts
  test/32-extra-uenv-config.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v11.14.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

api: Implement scoped Supervisor API keys
  package-lock.json
  src/compose/app.ts
  src/compose/service.ts
  src/compose/utils.ts
  src/config/functions.ts
  src/config/index.ts
  src/config/schema-type.ts
  src/config/schema.ts
  src/device-api/v1.ts
  src/device-api/v2.ts
  src/device-state.ts
  src/lib/api-keys.ts
  src/migrations/M00005.js
  src/supervisor-api.ts
  src/supervisor.ts
  test/03-config.spec.ts
  test/04-service.spec.ts
  test/05-device-state.spec.ts
  test/21-supervisor-api.spec.ts
  test/26-supervisor-api-auth.spec.ts
  test/34-compose-app.ts
  test/lib/mocked-device-api.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Clarify docs for toggling update lock override from dashboard
  docs/update-locking.md
Due: none

v11.14.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

v11.14.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

mixpanel: superisor_version -> supervisor_version
  src/event-tracker.ts
Due: balena-lint --typescript --fix

v11.14.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Fix config checks for ConfigFS backend
  .gitignore
  src/config/backends/config-fs.ts
  test/13-device-config.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v11.14.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Correctly evaluate if scheduledApply.delay is not set
  src/device-state.ts
Due: balena-lint --typescript --fix

v11.14.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Log more debug info when network change is detected
  src/compose/service.ts
Due: balena-lint --typescript --fix

Fix supervisor deadlock during migration
  src/migrations/M00005.js
Due: balena-lint --typescript --fix

v11.14.8
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

version: drop SUPERVISOR_VERSION env var
  src/compose/service.ts
  test/04-service.spec.ts
  test/23-contracts.spec.ts
  test/data/docker-states/entrypoint/inspect.json
  test/data/docker-states/network-mode-service/inspect.json
  test/data/docker-states/simple/inspect.json
  test/data/docker-states/supervisor-api/inspect.json
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.0.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Add LogBuffer for events route
  src/lib/supervisor-console.ts
  src/logging/log-buffer.ts
Due: balena-lint --typescript --fix

Add `docker` log level
  src/compose/service-manager.ts
  src/lib/supervisor-console.ts
  src/logging/log-buffer.ts
Due: balena-lint --typescript --fix

Add the 'io.balena.features.early-run' label to bind mount the early /run folder
  src/compose/utils.ts
Due: balena-lint --typescript --fix

Populate config.json from EC2 metadata
  src/metadata.ts
  src/supervisor.ts
Due: balena-lint --typescript --fix

Added /v2/services/events to return processed docker logs
  src/compose/service-manager.ts
  src/device-api/v2.ts
  src/lib/supervisor-console.ts
  src/logging/log-buffer.ts
  src/logging/processors/processor.ts
  src/logging/processors/service-events.ts
  test/21-supervisor-api.spec.ts
  test/data/device-api-responses.json
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Add features label `io.balena.features.journal-logs`
  src/compose/utils.ts
Due: balena-lint --typescript --fix

Add features label `io.balena.features.journal-logs`
  package-lock.json
  package.json
  src/api-binder.ts
  src/compose/application-manager.ts
  src/compose/composition-steps.ts
  src/compose/service-manager.ts
  src/device-api/common.d.ts
  src/device-api/common.js
  src/device-api/v1.ts
  src/device-api/v2.ts
  src/device-config.ts
  src/device-state.ts
  src/logger.ts
  src/tracing/tracer.ts
  test/05-device-state.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.0.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Attempt a state report once every maxReportFrequency
  src/device-state/current-state.ts
Due: balena-lint --typescript --fix

Remove superfluous current state reporting code from api-binder
  src/api-binder.ts
  test/11-api-binder.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.0.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

tests: Clean up and consistify naming scheme
  test/00-init.spec.ts
  test/06-validation.spec.ts
  test/07-blink.spec.ts
  test/08-event-tracker.spec.ts
  test/09-network.spec.ts
  test/10-api-binder.spec.ts
  test/11-logger.spec.ts
  test/12-device-config.spec.ts
  test/13-application-manager.spec.ts
  test/14-conversions.spec.ts
  test/15-ports.spec.ts
  test/16-config-utils.spec.ts
  test/17-compose-network.spec.ts
  test/33-extra-uenv-config.spec.ts
  test/34-firewall.spec.ts
  test/35-os-release.spec.ts
  test/36-compose-app.spec.ts
  test/37-odmdata-config.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Refactor system information filtering
  src/device-state/current-state.ts
  src/lib/system-info.ts
  test/38-sys-info.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.0.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Don't require an existing supervisor container to sync
  sync/device.ts
Due: balena-lint --typescript --fix

v12.0.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Improve calculation for used system memory
  src/lib/system-info.ts
  test/38-sys-info.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.0.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Handle delete of multiple images with same dockerImageId
  src/compose/images.ts
Due: balena-lint --typescript --fix

Fixes check allowing preloading in local (unmanaged) mode
  src/device-state.ts
Due: balena-lint --typescript --fix

v12.0.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Improved log message when networks do not match
  src/compose/service.ts
Due: balena-lint --typescript --fix
