Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: balena-lint, balena-lint --typescript --fix, balena-lint --tests, balena-lint --typescript --no-prettier --tests

v12.11.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Change repo type in repo.yml to skip concourse build
  repo.yml
Due: none

v12.11.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
Due: none

Wait for images to be ready before moving between releases
  src/compose/app.ts
  test/src/compose/app.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.11.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
Due: none

Re-add resinci config to control node checks
  .resinci.yml
  repo.yml
Due: none

v12.11.8
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  balena.yml
  package-lock.json
  package.json
Due: none

Go back to `docker` repo type to fix versioning
  CHANGELOG.md
  repo.yml
Due: none

v12.11.9
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Fix `delete-then-download` strategy
  src/compose/application-manager.ts
  test/src/compose/application-manager.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Update tsconfig.json to use es2019
  tsconfig.json
Due: none

v12.11.10
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

test: Update extra_uEnv test slugs list
  test/33-extra-uenv-config.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

backends/extra-uEnv: Extend custom DTB support for Nano 2GB Devkit
  src/config/backends/extra-uEnv.ts
Due: balena-lint --typescript --fix

v12.11.11
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Bootstrap supervisor configuration on container start
  Dockerfile.template
  entry.sh
  setenv.sh
Due: none

Fix broken local mode after PR #1824
  src/compose/app.ts
Due: balena-lint --typescript --fix

v12.11.12
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Increase request timeout to 59s to better align with our backends
  src/lib/request.ts
Due: balena-lint --typescript --fix

v12.11.13
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Add happy eyeballs
  package-lock.json
  package.json
  src/app.ts
Due: balena-lint --typescript --fix

v12.11.14
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Ensure target state errors are sent to the log backend
  src/api-binder.ts
  src/device-state.ts
  src/lib/errors.ts
Due: balena-lint --typescript --fix

Move lib/types.ts to src/types/basic.ts
  src/compose/service.ts
  src/compose/volume.ts
  src/config/utils.ts
  src/device-config.ts
  src/lib/conversions.ts
  src/lib/docker-utils.ts
  src/lib/validation.ts
  src/types/basic.ts
  src/types/index.ts
  src/types/state.ts
Due: balena-lint --typescript --fix

Convert target state types to io-ts for better validation
  package.json
  src/compose/application-manager.ts
  src/compose/service-manager.ts
  src/device-state.ts
  src/device-state/db-format.ts
  src/lib/migration.ts
  src/lib/validation.ts
  src/types/basic.ts
  src/types/state.ts
  test/06-validation.spec.ts
  test/28-db-format.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.11.15
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Improve validation messages for env vars and labels
  src/types/basic.ts
Due: balena-lint --typescript --fix

v12.11.16
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Added `BALENA_SUPERVISOR_PATCH_INTERVAL` for device state patch frequency
  docs/configurations.md
  src/config/schema-type.ts
  src/config/schema.ts
  src/device-config.ts
  src/device-state/current-state.ts
  src/lib/backoff.ts
  src/lib/constants.ts
  src/lib/sleep.ts
Due: balena-lint --typescript --fix

Add exponential backoff on errors for logs reporting
  src/logging/balena-backend.ts
Due: balena-lint --typescript --fix

v12.11.17
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Fix the "already delayed by" calculation
  src/logging/balena-backend.ts
Due: balena-lint --typescript --fix

v12.11.18
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

v12.11.19
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Skip initial apply until a target has been set
  src/device-state.ts
Due: balena-lint --typescript --fix

v12.11.20
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Separate backoff from current state reporting
  src/device-state/current-state.ts
  src/lib/backoff.ts
Due: balena-lint --typescript --fix

Remove apps.json after initial preload
  src/device-state/preload.ts
  src/lib/constants.ts
  test/05-device-state.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Write SBVR model for Supervisor
  src/supervisor.sbvr
Due: none

Move files to model/ and set up docker config for development
  model/.dockerignore
  model/.gitignore
  model/Dockerfile
  model/docker-compose.yml
  model/index.js
  model/package-lock.json
  model/package.json
  model/sbvr/actions.sbvr
  model/sbvr/config.json
  model/sbvr/host-config-proxy.sbvr
  model/sbvr/supervisor.sbvr
Due: balena-lint --typescript --fix

Path conditions:
  balena-lint: any of: *.coffee
  balena-lint --typescript --fix: (any of: *.ts) or (any of: *.js)
  balena-lint --tests: any of: test/**/*.coffee
  balena-lint --typescript --no-prettier --tests: any of: test/**/*.ts
