Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: balena-lint, balena-lint --typescript --fix, balena-lint --tests, balena-lint --typescript --no-prettier --tests

Pretty
  src/compose/app.ts
  src/compose/application-manager.ts
  src/compose/images.ts
  src/compose/service-manager.ts
  src/compose/service.ts
  src/compose/types/service.ts
  src/compose/update-strategies.ts
  src/device-api/common.d.ts
  src/device-api/common.js
  src/device-api/v1.js
  src/device-state.ts
  src/device-state/db-format.ts
  src/lib/migration.ts
  src/proxyvisor.js
  test/00-init.ts
  test/05-device-state.spec.ts
  test/28-db-format.spec.ts
  test/32-compose-app-manager.spec.ts
  test/34-compose-app.ts
  test/lib/application-state-mock.ts
  test/lib/mocked-dockerode.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

bug: Allow DNS through firewall for local containers
  src/lib/firewall.ts
  test/29-firewall.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v11.12.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

CoP Tues
  src/compose/app.ts
  src/compose/application-manager.ts
  src/compose/service.ts
  src/device-api/common.js
  src/device-api/v1.js
  src/device-api/v2.ts
  src/device-state/db-format.ts
  src/device-state/preload.ts
  src/types/state.ts
  test/05-device-state.spec.ts
  test/lib/mocked-dockerode.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

WIP 12/8/2020 v1
  src/api-binder.ts
  src/compose/application-manager.ts
  src/device-api/common.js
  src/device-api/v1.js
  src/device-state.ts
  src/proxyvisor.js
  test/32-compose-app-manager.spec.ts
  test/34-compose-app.ts
  typings/global.d.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

bug: Firewall not blocking supervisor access from outside the device
  src/lib/firewall.ts
  test/29-firewall.spec.ts
  test/lib/mocked-iptables.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v11.12.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

firewall: Write out the rules to the state partition
  .gitignore
  src/lib/constants.ts
  src/lib/iptables.ts
  test/00-init.ts
  test/29-firewall.spec.ts
  test/lib/mocked-iptables.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Refactor configurable backend class names
  src/config/backends/backend.ts
  src/config/backends/config-fs.ts
  src/config/backends/config-txt.ts
  src/config/backends/extlinux.ts
  src/config/backends/extra-uEnv.ts
  src/config/utils.ts
  src/device-config.ts
  test/05-device-state.spec.ts
  test/13-device-config.spec.ts
  test/17-config-utils.spec.ts
  test/27-extlinux-config.spec.ts
  test/32-extra-uenv-config.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Refactor device-config to support configuring multiple backends
  src/config/backends/index.ts
  src/config/utils.ts
  src/device-config.ts
  test/17-config-utils.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

WIP 13/8/2020
  src/compose/app.ts
  src/compose/application-manager.ts
  src/compose/network.ts
  src/compose/service.ts
  src/device-api/common.js
  src/device-api/v1.js
  test/04-service.spec.ts
  test/05-device-state.spec.ts
  test/34-compose-app.ts
  test/data/docker-states/entrypoint/inspect.json
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v11.12.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Update pinejs-client-request to 7.2.1
  package-lock.json
  package.json
  src/api-binder.ts
  src/lib/migration.ts
Due: balena-lint --typescript --fix

v11.12.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Update typed-error to 3.x
  package-lock.json
  package.json
  repo.yml
  src/compose/errors.ts
  src/compose/ports.ts
  src/lib/dbus.ts
  src/lib/errors.ts
  src/lib/iptables.ts
  src/lib/mac-address.ts
  test/lib/errors.ts
  typings/balena-register-device.d.ts
  typings/docker-delta.d.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v11.12.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Update dependencies
  package-lock.json
  package.json
  repo.yml
Due: none

v11.12.8
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Don't enforce the vc4-fkms-v3d dtoverlay on rpi4
  src/device-config.ts
  test/13-device-config.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v11.12.9
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Preventing removing all configurations if device has no backends
  src/api-binder.ts
  src/config/backends/index.ts
  src/config/utils.ts
  src/device-config.ts
  src/device-state/preload.ts
  test/13-device-config.spec.ts
  test/17-config-utils.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v11.12.10
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Revert "Don't enforce the vc4-fkms-v3d dtoverlay on rpi4"
  src/device-config.ts
  test/13-device-config.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

bug: Resolve mDNS API URLs
  entry.sh
  package-lock.json
  package.json
  src/app.ts
Due: balena-lint --typescript --fix

v11.12.11
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

api-binder: Convert to a singleton
  src/api-binder.ts
  src/device-state.ts
  src/lib/api-helper.ts
  src/lib/errors.ts
  src/supervisor.ts
  test/00-init.ts
  test/11-api-binder.spec.ts
  test/18-startup.spec.ts
  test/21-supervisor-api.spec.ts
  test/lib/mocked-device-api.ts
  test/lib/mocked-event-tracker.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

device-state: Convert to a singleton
  package-lock.json
  package.json
  src/api-binder.ts
  src/application-manager.d.ts
  src/application-manager.js
  src/device-api/v2.ts
  src/device-state.ts
  src/device-state/preload.ts
  src/lib/migration.ts
  src/supervisor.ts
  test/00-init.ts
  test/03-config.spec.ts
  test/05-device-state.spec.ts
  test/11-api-binder.spec.ts
  test/14-application-manager.spec.ts
  test/18-startup.spec.ts
  test/21-supervisor-api.spec.ts
  test/lib/mocked-device-api.ts
  test/lib/mocked-dockerode.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Altered tests
  src/api-binder.ts
  src/device-state/current-state.ts
  test/05-device-state.spec.ts
  test/21-supervisor-api.spec.ts
  test/lib/mocked-balena-api.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Building tests...
  src/api-binder.ts
  src/compose/app.ts
  src/compose/application-manager.ts
  src/device-api/v2.ts
  src/device-state.ts
Due: balena-lint --typescript --fix

v11.13.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Add device system information to state endpoint patch
  package-lock.json
  package.json
  src/device-state/current-state.ts
  src/lib/system-info.ts
Due: balena-lint --typescript --fix

v11.14.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

api-binder: Convert to a singleton
  src/api-binder.ts
  src/device-state.ts
  src/lib/api-helper.ts
  src/lib/errors.ts
  src/proxyvisor.js
  src/supervisor.ts
  test/00-init.ts
  test/11-api-binder.spec.ts
  test/18-startup.spec.ts
  test/21-supervisor-api.spec.ts
  test/lib/mocked-balena-api.ts
  test/lib/mocked-device-api.ts
  test/lib/mocked-event-tracker.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

device-state: Convert to a singleton
  src/api-binder.ts
  src/application-manager.d.ts
  src/application-manager.js
  src/device-api/v2.ts
  src/device-state.ts
  src/device-state/current-state.ts
  src/device-state/preload.ts
  src/lib/migration.ts
  src/supervisor.ts
  test/00-init.ts
  test/03-config.spec.ts
  test/05-device-state.spec.ts
  test/11-api-binder.spec.ts
  test/14-application-manager.spec.ts
  test/18-startup.spec.ts
  test/21-supervisor-api.spec.ts
  test/lib/mocked-device-api.ts
  test/lib/mocked-dockerode.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Path conditions:
  balena-lint: any of: *.coffee
  balena-lint --typescript --fix: (any of: *.ts) or (any of: *.js)
  balena-lint --tests: any of: test/**/*.coffee
  balena-lint --typescript --no-prettier --tests: any of: test/**/*.ts
