Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: balena-lint, balena-lint --typescript --fix, balena-lint --tests, balena-lint --typescript --no-prettier --tests

.lintstagedrc:

{
	"*.coffee": [
		"balena-lint"
	],
	"*.ts": [
		"balena-lint --typescript --fix",
	],
	"*.js": [
		"balena-lint --typescript --fix",
	],
	"test/**/*.coffee": [
		"balena-lint --tests"
	],
	"test/**/*.ts": [
		"balena-lint --typescript --no-prettier --tests"
	],
}

Improve error message if supervisor0 network not found
  src/compose/network-manager.ts
Due: balena-lint --typescript --fix

v14.3.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Set up dummy Supervisor image for integration tests
  docker-compose.dev.yml
  docker-compose.test.yml
  test/integration/compose/application-manager.spec.ts
  test/integration/compose/images.spec.ts
  test/integration/compose/network.spec.ts
  test/integration/compose/volume-manager.spec.ts
  test/integration/compose/volume.spec.ts
  test/integration/device-state.spec.ts
  test/integration/lib/docker-utils.spec.ts
  test/lib/docker-helper.ts
  test/lib/mocha-hooks.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Use local socket for tests instead of dind
  docker-compose.test.yml
  package.json
  test/integration/compose/application-manager.spec.ts
  test/integration/compose/network.spec.ts
  test/integration/compose/volume-manager.spec.ts
  test/integration/compose/volume.spec.ts
  test/integration/lib/docker-utils.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Update blinking to 0.0.7
  package-lock.json
  package.json
  typings/blinking.d.ts
Due: balena-lint --typescript --fix

v14.3.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Fix locking stubs that were returning `Bluebird` rather than `Promise`
  test/legacy/41-device-api-v1.spec.ts
  test/legacy/42-device-api-v2.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v14.3.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Migrate all device config tests to integration.
  .mochapodrc.yml
  package-lock.json
  package.json
  test/integration/config/config-txt.spec.ts
  test/integration/config/extlinux.spec.ts
  test/integration/config/extra-uenv.spec.ts
  test/integration/config/odmdata.spec.ts
  test/integration/config/splash-image.spec.ts
  test/integration/config/utils.spec.ts
  test/integration/device-config.spec.ts
  test/legacy/37-odmdata-config.spec.ts
  test/legacy/43-splash-image.spec.ts
  test/lib/wait-for-it.sh
  test/unit/config/extra-uenv.spec.ts
  test/unit/config/odmdata.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v14.3.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Specify ipam config for Supervisor app in a rarer address space
  docker-compose.yml
Due: none

Create default network as config-only when services have host networking
  src/compose/app.ts
  src/compose/network.ts
  src/compose/types/network.ts
  test/integration/compose/network.spec.ts
  test/lib/mockerode.ts
  test/unit/compose/app.spec.ts
  test/unit/compose/network.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v14.3.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Simplify getting images for cleanup
  src/compose/images.ts
  test/integration/compose/application-manager.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v14.3.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Use fatrw utility for writes to boot partition
  Dockerfile.template
  package.json
  src/config/backends/config-fs.ts
  src/config/backends/config-txt.ts
  src/config/backends/extlinux.ts
  src/config/backends/extra-uEnv.ts
  src/config/backends/splash-image.ts
  src/config/configJson.ts
  src/config/functions.ts
  src/host-config.ts
  src/lib/host-utils.ts
  test/integration/config.spec.ts
  test/integration/config/utils.spec.ts
  test/integration/device-config.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v14.4.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Report metrics in target-state PATCH based on a max frequency
  src/api-binder/report.ts
Due: balena-lint --typescript --fix

Move definition of maxReportFrequency to the reporting file
  src/api-binder/report.ts
  src/lib/constants.ts
Due: balena-lint --typescript --fix

Remove report frequency management from current state reporting function
  src/api-binder/report.ts
Due: balena-lint --typescript --fix

Report must include a state change if sooner than metrics frequency
  src/api-binder/report.ts
  src/device-state.ts
Due: balena-lint --typescript --fix

Improve determination of when a state change may need to be reported
  src/api-binder/report.ts
Due: balena-lint --typescript --fix

v14.4.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Remove some unnecessary usage of `.reduce`
  src/compose/app.ts
  src/compose/application-manager.ts
  src/compose/images.ts
  src/config/backends/extra-uEnv.ts
  src/config/backends/odmdata.ts
  src/device-state/preload.ts
  src/lib/system-info.ts
Due: balena-lint --typescript --fix

v14.4.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Use timers/promises for promisified setTimeout
  src/compose/images.ts
  src/lib/backoff.ts
  test/integration/device-state.spec.ts
  test/legacy/40-target-state.spec.ts
  test/lib/helpers.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Fix config test typo
  test/integration/config.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v14.4.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Enable node16 module resolution in tsconfig to ease the ESM transition
  src/types/basic.ts
  test/integration/config.spec.ts
  test/integration/db.spec.ts
  test/legacy/10-api-binder.spec.ts
  test/legacy/11-logger.spec.ts
  tsconfig.json
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v14.4.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

device-state: maintain system info as a running average, on a schedule
  src/device-state.ts
Due: balena-lint --typescript --fix

Stop using host journalctl
  Dockerfile.template
  build-utils/setup-journal.sh
  entry.sh
  src/lib/journald.ts
  test/unit/lib/journald.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Make readFromBoot behave more like Node readFile
  src/lib/host-utils.ts
Due: balena-lint --typescript --fix

Sanitize output when writing to redsocks.conf
  src/host-config.ts
Due: balena-lint --typescript --fix

v14.4.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

v14.4.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Fix container name creation to generate valid DNS hostnames
  README.md
  src/compose/service.ts
  test/unit/compose/service.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

prettify
  src/compose/service.ts
  test/unit/compose/service.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Update API.md
  docs/API.md
Due: none
