Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: balena-lint, balena-lint --typescript --fix, balena-lint --tests, balena-lint --typescript --no-prettier --tests

.lintstagedrc:

{
	"*.coffee": [
		"balena-lint"
	],
	"*.ts": [
		"balena-lint --typescript --fix",
	],
	"*.js": [
		"balena-lint --typescript --fix",
	],
	"test/**/*.coffee": [
		"balena-lint --tests"
	],
	"test/**/*.ts": [
		"balena-lint --typescript --no-prettier --tests"
	],
}

Add support for variable substitution in service configuration
  package-lock.json
  package.json
  src/compose/application-manager.ts
Due: balena-lint --typescript --fix

Publish to staging with a custom publish composite job
  .github/actions/publish/action.yml
  .github/workflows/flowzone.yml
Due: none

v14.2.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Update to webpack 5
  package-lock.json
  package.json
  webpack.config.js
Due: balena-lint --typescript --fix

Update typescript target to es2021
  tsconfig.json
Due: none

v14.2.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Update dependencies to fix NPM build
  package-lock.json
  package.json
  src/config/index.ts
  src/db.ts
  test/legacy/02-db.spec.ts
  test/lib/mocked-database.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Add custom flowzone action to finalize staging releases
  .github/actions/finalize/action.yml
  .github/workflows/flowzone.yml
Due: none

v14.2.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

v14.2.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Add test troubleshooting case that appears after upgrading system
  README.md
Due: none

v14.2.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Fix migrations hardcode to work with knex 0.95.15
  build-utils/hardcode-migrations.js
  webpack.config.js
Due: balena-lint --typescript --fix

v14.2.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Split compose/volume tests into unit/integration
  .mochapodrc.yml
  docker-compose.test.yml
  test/integration/compose/volume.spec.ts
  test/unit/compose/volume.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Un-skip fs-utils test
  test/unit/lib/fs-utils.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Update mocha-pod to 0.8.x
  package-lock.json
  package.json
Due: none

Split compose/network test in unit/integration
  test/integration/compose/network.spec.ts
  test/unit/compose/network.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Migrate tests for image manager
  test/integration/compose/images.spec.ts
  test/integration/compose/volume-manager.spec.ts
  test/lib/docker-helper.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Migrate config module tests to integration
  package.json
  test/integration/.mocharc.js
  test/integration/config.spec.ts
  test/integration/lib/legacy.spec.ts
  test/legacy/03-config.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Migrate lib/legacy tests to integration tests
  .mochapodrc.yml
  docker-compose.test.yml
  test/integration/lib/legacy.spec.ts
  test/lib/dbus/Dockerfile
  test/lib/dbus/dbus.conf
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Migrate contract test to integration
  test/integration/lib/contracts.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Remove blink tests
  test/legacy/07-blink.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Disable logs globally using mocha hooks
  test/integration/.mocharc.js
  test/lib/mocha-hooks.ts
  test/unit/.mocharc.js
  test/unit/compose/network.spec.ts
  test/unit/compose/service.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Split compose/service tests into unit/integration
  test/integration/compose/service.spec.ts
  test/unit/compose/service.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Migrate volume-manager tests to integration
  src/compose/volume-manager.ts
  test/integration/compose/volume-manager.spec.ts
  test/legacy/src/compose/volume-manager.spec.ts
  test/lib/docker-helper.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Migrate compose/app and compose/app-manager tests
  .mochapodrc.yml
  test/integration/compose/application-manager.spec.ts
  test/unit/compose/app.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Migrate update-lock tests as integration tests
  .mochapodrc.yml
  src/lib/update-lock.ts
  test/integration/lib/update-lock.spec.ts
  test/legacy/src/lib/update-lock.spec.ts
  test/unit/lib/update-lock.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Migrate legacy db test to integration folder
  test/integration/db.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v14.2.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Start state engine and API binder in parallel
  src/supervisor.ts
Due: balena-lint --typescript --fix

Update type dependencies
  package-lock.json
  package.json
  src/lib/dbus.ts
  src/lib/request.ts
  src/supervisor-api.ts
  test/lib/mocked-dbus.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v14.2.8
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Use inherited secrets for flowzone
  .github/actions/finalize/action.yml
  .github/actions/publish/action.yml
  .github/workflows/flowzone.yml
Due: none

v14.2.9
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Add high level TypeDoc code documentation
  .gitignore
  README.md
  docs/supervisor-arch.odg
  docs/supervisor-arch.svg
  src/app.ts
  src/compose/errors.ts
  src/db.ts
  src/device-config.ts
  src/device-state.ts
  src/supervisor.ts
Due: balena-lint --typescript --fix

Continue building high level code documentation
  README.md
  docs/supervisor-arch.odg
  docs/supervisor-arch.svg
  package-lock.json
  package.json
  src/app.ts
Due: balena-lint --typescript --fix

Added supervisor-console to app overview
  docs/supervisor-arch.odg
  docs/supervisor-arch.svg
  src/app.ts
Due: balena-lint --typescript --fix

v14.2.10
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Allow most printable ASCII chars for service label key
  src/types/basic.ts
  test/unit/lib/validation.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests
