Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: balena-lint, balena-lint --typescript --fix, balena-lint --tests, balena-lint --typescript --no-prettier --tests

.lintstagedrc:

{
	"*.coffee": [
		"balena-lint"
	],
	"*.ts": [
		"balena-lint --typescript --fix",
	],
	"*.js": [
		"balena-lint --typescript --fix",
	],
	"test/**/*.coffee": [
		"balena-lint --tests"
	],
	"test/**/*.ts": [
		"balena-lint --typescript --no-prettier --tests"
	],
}

v12.0.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Prevent getting stuck in loop when trying to apply target state
  src/compose/app.ts
Due: balena-lint --typescript --fix

Fixed evaluating if updates are needed to reach target state
  src/compose/app.ts
  test/36-compose-app.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.0.8
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Change source of deviceType to device-type.json
  src/config/functions.ts
  src/config/index.ts
  src/config/schema.ts
  test/03-config.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.0.9
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Change log source from docker to journalctl
  src/compose/service-manager.ts
  src/lib/journald.ts
  src/logger.ts
  src/logging/monitor.ts
  src/supervisor.ts
Due: balena-lint --typescript --fix

v12.1.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Use root mount point to find device-type.json
  src/config/functions.ts
  test/03-config.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.1.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Mount docker socket under `/host/run` for services
  src/compose/utils.ts
  src/lib/constants.ts
  test/04-service.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.1.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Add pipex to codeowners
  .github/CODEOWNERS
Due: none

v12.1.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Clarify when `update_pending` in /v1/device is true
  docs/API.md
Due: none

v12.1.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Most of work done to add source
  src/compose/app.ts
  src/compose/application-manager.ts
  src/compose/network.ts
  src/compose/service.ts
  src/compose/types/service.ts
  src/compose/volume.ts
Due: balena-lint --typescript --fix

Add more test coverage for compose/images
  test/00-init.spec.ts
  test/39-compose-images.spec.ts
  test/data/compose-image-data.json
  test/lib/mocked-database.ts
  test/lib/mocked-dbus.ts
  test/lib/mocked-dockerode.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.1.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

[debug] Log docker networks when change it detected
  src/compose/service.ts
Due: balena-lint --typescript --fix

Allow storing commits against their appIds
  src/compose/app.ts
  src/compose/application-manager.ts
  src/compose/commit.ts
  src/compose/composition-steps.ts
  src/config/schema-type.ts
  src/config/schema.ts
  src/device-api/v1.ts
  src/device-api/v2.ts
  src/device-state.ts
  src/migrations/M00006.js
  test/21-supervisor-api.spec.ts
  test/39-compose-commit.spec.ts
  test/data/device-api-responses.json
  test/lib/mocked-device-api.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.2.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Patched scoped api keys to allow current CLI to use livepush
  src/device-api/v2.ts
  src/lib/api-keys.ts
Due: balena-lint --typescript --fix

fix: Scoped keys not working in LocalMode
  src/lib/api-keys.ts
  test/21-supervisor-api.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

validation: Ensure commit lookup has a bound value
  src/compose/commit.ts
Due: balena-lint --typescript --fix

v12.2.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Ensure the first target state request is applied
  src/device-state/target-state.ts
  test/40-target-state.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.2.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

fix: Scoped keys breaking livepush with existing cloud images on the device
  src/device-api/v2.ts
  src/lib/api-keys.ts
  test/21-supervisor-api.spec.ts
  test/data/device-api-responses.json
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.2.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

v12.2.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

v12.2.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Update npm entry in package.json to match the npm version we use
  README.md
  package.json
Due: none

v12.2.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

v12.2.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Consolidated Supervisor API tests into clearer files
  test/21-supervisor-api.spec.ts
  test/26-supervisor-api-auth.spec.ts
  test/41-device-api-v1.spec.ts
  test/42-device-api-v2.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Added test case for /v1/restart API
  test/41-device-api-v1.spec.ts
  test/42-device-api-v2.spec.ts
  test/data/device-api-responses.json
  test/data/etc/os-release
  test/data/mnt/boot/device-type.json
  test/lib/application-state-mock.ts
  test/lib/mocked-device-api.ts
  test/lib/mocked-dockerode.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Patched /v1/restart exception
  src/device-api/common.js
  test/41-device-api-v1.spec.ts
  test/data/device-api-responses.json
  test/lib/mocked-dbus.ts
  test/lib/mocked-device-api.ts
  test/lib/mocked-dockerode.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.2.8
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

debug
  src/device-config.ts
  src/device-state.ts
Due: balena-lint --typescript --fix
