Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: balena-lint, balena-lint --typescript --fix, balena-lint --tests, balena-lint --typescript --no-prettier --tests

v12.10.8
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Update URL to balena-proxy-config source code
  docs/API.md
Due: none

v12.10.9
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

WIP: Network checks
  frontend/Dockerfile.template
  frontend/package-lock.json
  frontend/package.json
  frontend/server/index.ts
  frontend/server/lib/constants.ts
  frontend/server/lib/network.ts
  frontend/server/lib/supervisor-api.ts
  frontend/server/lib/supervisor-db.ts
  frontend/server/routes/network.ts
  frontend/server/supervisor-db.ts
Due: balena-lint --typescript --fix

v12.10.10
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Use balena CLI for pushing to balenaCloud
  automation/build.sh
  circle.yml
Due: none

Add supervisor contract
  balena.yml
Due: none

Enable deploy to production and staging
  circle.yml
Due: none

Improve network interface filter
  src/network.ts
Due: balena-lint --typescript --fix

Set release_version on deploy
  circle.yml
Due: none

v12.10.11
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

v12.10.12
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Simplify splash test to verify just correct outcomes
  test/43-splash-image.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Add backoff to state reporting when 503 is received
  src/device-state/current-state.ts
  src/lib/errors.ts
  test/src/device-state/current-state.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.10.13
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Only deploy on commits from `balena-ci` and versionbot
  circle.yml
Due: none

v12.10.14
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Add supervisor docker-compose
  balena.yml
  circle.yml
  docker-compose.yml
Due: none

v12.10.15
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

CI speed improvements
  automation/build.sh
  circle.yml
Due: none

Test build time when not changing code
  circle.yml
Due: none

v12.10.16
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Use balena-ci action to deploy releases
  .github/workflows/staging-balena-ci.yml
Due: none

Use %%BALENA_ARCH%% in Dockerfile template
  Dockerfile.template
Due: none

Update update-locking.md
  docs/update-locking.md
Due: none

v12.11.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

patch: Fix relative links in docs
  docs/update-locking.md
Due: none

v12.11.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Check config for networks and volumes inside Service
  src/compose/app.ts
  src/compose/service.ts
  test/src/compose/app.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.11.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Do not build for staging in circleci job
  circle.yml
Due: none

v12.11.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Move entirely to using balena-ci action for deployments
  .github/workflows/balena-ci.yml
  Dockerfile
  circle.yml
Due: none

Move to balena-ci action for deployments
  .github/workflows/balena-ci.yml
  Dockerfile
  circle.yml
Due: none

testing
  src/supervisor.ts
Due: balena-lint --typescript --fix

Remove .resinci.yml file
  .resinci.yml
Due: none

v12.11.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Log entire Exception if message is empty
  src/device-state/current-state.ts
Due: balena-lint --typescript --fix

Fix livepush to work with Dockerfile.template
  automation/build.sh
  sync/device.ts
  sync/sync.ts
Due: balena-lint --typescript --fix

Path conditions:
  balena-lint: any of: *.coffee
  balena-lint --typescript --fix: (any of: *.ts) or (any of: *.js)
  balena-lint --tests: any of: test/**/*.coffee
  balena-lint --typescript --no-prettier --tests: any of: test/**/*.ts
