Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: balena-lint, balena-lint --typescript --fix, balena-lint --tests, balena-lint --typescript --no-prettier --tests

v14.10.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Add replication of issue using unit tests
  test/unit/compose/app.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Add integration tests for state-engine
  src/lib/legacy.ts
  test/integration/state-engine.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Skip updateMetadata step if there are network changes
  src/compose/app.ts
Due: balena-lint --typescript --fix

Do not pass auth to images with no registry
  src/lib/docker-utils.ts
Due: balena-lint --typescript --fix

Create tests with recovery from #1576
  test/integration/state-engine.spec.ts
  test/unit/compose/app.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Fix service comparison when creating component steps
  src/compose/app.ts
Due: balena-lint --typescript --fix

v14.10.8
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Run test supervisor under a different service name
  docker-compose.test.yml
  package.json
Due: none

v14.10.9
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

mount-partitions.sh: Add support for encrypted partitions
  mount-partitions.sh
Due: none

v14.10.10
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Update table formatting on configurations.md
  docs/configurations.md
Due: none

Add information about hdmi port 2 config vars
  docs/configurations.md
Due: none

v14.10.11
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Simplify and move lib/contract.spec.ts to tests/unit
  test/unit/lib/contracts.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Allow using slug to validate hw.device-type contract
  src/lib/contracts.ts
  test/unit/lib/contracts.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Add `arch.sw` to the valid container requirements
  src/lib/contracts.ts
  src/supervisor.ts
  test/integration/device-state.spec.ts
  test/unit/lib/contracts.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v14.11.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Fix `sw.arch` typo when testing contracts
  test/integration/device-state.spec.ts
  test/unit/lib/contracts.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v14.11.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Omit CPU id in invalid range
  src/lib/system-info.ts
  test/unit/lib/system-info.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Handle Engine-host race condition for "always" and "unless-stopped" restart policy
  src/compose/app.ts
  src/compose/utils.ts
  test/integration/compose/application-manager.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Add extra delay after state engine integration tests
  test/integration/state-engine.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Handle the case of 'on-failure' restart policy
  src/compose/app.ts
  src/compose/application-manager.ts
  src/compose/service-manager.ts
  src/compose/utils.ts
  test/unit/compose/app.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v14.11.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Update balena-io/deploy-to-balena-action action to v0.27.0
  .github/actions/finalize/action.yml
  .github/actions/publish/action.yml
Due: none

Specify fs type when mounting partitions to prevent "Can't open blockdev" warnings
  mount-partitions.sh
Due: none

Decrease wait time before start from 60s to 30s
  src/compose/app.ts
  test/integration/compose/application-manager.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Improve tests surrounding Engine-host race patch
  test/integration/compose/application-manager.spec.ts
  test/unit/compose/app.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Remove unnecessary async/await from method
  src/compose/app.ts
  src/compose/application-manager.ts
  test/unit/compose/app.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Add exitCode property to Service class
  src/compose/app.ts
  src/compose/application-manager.ts
  src/compose/service-manager.ts
  src/compose/service.ts
Due: balena-lint --typescript --fix

Improve naming of a util function & add unit test
  src/compose/app.ts
  src/compose/utils.ts
  test/unit/compose/utils.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Add fail-safe to test the image architecture
  Dockerfile.template
  build-utils/apk-print-arch.sh
Due: none

Use multi-arch in dockerfile
  Dockerfile.template
Due: none

Fix /v2/applications/state endpoint
  src/device-api/v2.ts
Due: balena-lint --typescript --fix

Parse container exit error message instead of status
  src/compose/app.ts
  src/compose/service.ts
  src/compose/utils.ts
  test/integration/compose/application-manager.spec.ts
  test/unit/compose/utils.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Remove the 'Stopped' status for services
  src/compose/app.ts
  src/compose/service.ts
  test/integration/compose/application-manager.spec.ts
  test/integration/device-api/actions.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Add revpi-connect-s to Raspberry Pi variants
  src/config/backends/config-txt.ts
Due: balena-lint --typescript --fix

backends: Add Jetson Orin NANO custom device-tree support
  src/config/backends/extra-uEnv.ts
  test/integration/config/extra-uenv.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Path conditions:
  balena-lint: any of: *.coffee
  balena-lint --typescript --fix: (any of: *.ts) or (any of: *.js)
  balena-lint --tests: any of: test/**/*.coffee
  balena-lint --typescript --no-prettier --tests: any of: test/**/*.ts
