Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: balena-lint, balena-lint --typescript --fix, balena-lint --tests, balena-lint --typescript --no-prettier --tests

Add custom DTB support for Variscite Dart DT family
  src/config/backends/extra-uEnv.ts
  test/33-extra-uenv-config.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v14.0.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Read hostname from config.json with container /etc/hostname as backup
  src/compose/app.ts
  src/compose/service.ts
  src/compose/types/service.ts
  test/data/docker-states/entrypoint/imageInfo.json
  test/data/docker-states/network-mode-service/imageInfo.json
  test/data/docker-states/simple/imageInfo.json
Due: balena-lint --typescript --fix

v14.0.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Add missing docs for the containerId param of the journal-logs endpoint
  docs/API.md
Due: none

v14.0.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Specify that Supervisor will not restore previous lock status from user containers
  docs/update-locking.md
Due: none

v14.0.8
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Allow host config patch regardless of running applications
  src/host-config.ts
Due: balena-lint --typescript --fix

v14.0.9
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Allow directories to be used as lockfiles
  src/lib/lockfile.ts
  test/src/lib/lockfile.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Remove legacy build methods
  .gitmodules
  README.md
  dindctl
  tools/dind/start-balena-supervisor
  tools/sync.js
Due: balena-lint --typescript --fix

v14.0.10
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Refactor supervisor Dockerfile to remove custom dependencies
  Dockerfile.template
  avahi-daemon.conf
  build-utils/node-sums.txt
  sync/device.ts
  sync/init.ts
  sync/livepush.ts
  sync/sync.ts
Due: balena-lint --typescript --fix

v14.0.11
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Disable healthchecks failing on report errors
  src/api-binder/report.ts
Due: balena-lint --typescript --fix

v14.0.12
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Wait for Stopping services to stop before target apply success
  src/compose/app.ts
  test/src/compose/app.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v14.0.13
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Simplify test commands in package.json
  Dockerfile.template
  package.json
  test/.mocharc.fast.js
  test/.mocharc.js
Due: balena-lint --typescript --fix

Move sinon to dev dependencies
  package-lock.json
  package.json
Due: none

Use tsconfig-paths for easier access to the source
  package-lock.json
  package.json
  test/.mocharc.js
  test/01-constants.spec.ts
  tsconfig.json
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Update README
  README.md
Due: none

v14.0.14
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Create `test/unit` and `test/integration` folders
  Dockerfile.template
  package.json
  test/README.md
  test/integration/.mocharc.js
  test/integration/lib/lockfile.spec.ts
  test/legacy/fixtures.ts
  test/lib/chai.ts
  test/unit/.mocharc.js
  test/unit/lib/backoff.spec.ts
  test/unit/lib/fs-utils.spec.ts
  test/unit/lib/json.spec.ts
  test/unit/lib/system-info.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Add command to spawn a development environment
  Dockerfile.template
  docker-compose.dev.yml
  package.json
Due: none

Add mocha-pod for running integration tests
  .gitignore
  .mochapodrc.yml
  Dockerfile.template
  package-lock.json
  package.json
  test/integration/.mocharc.js
Due: balena-lint --typescript --fix

Setup docker-compose.test
  .mochapodrc.yml
  .resinci.yml
  Dockerfile.null
  Dockerfile.template
  README.md
  docker-compose.dev.yml
  docker-compose.test.yml
  docker-compose.yml
  package.json
  test/integration/.mocharc.js
Due: balena-lint --typescript --fix

Migrate lockfile tests to testfs
  src/lib/lockfile.ts
  test/integration/lib/lockfile.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v14.0.15
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Add custom DTB support for imx8mm-var-som
  src/config/backends/extra-uEnv.ts
  test/legacy/33-extra-uenv-config.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v14.0.16
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Remove side effects for module imports
  src/api-binder/index.ts
  src/compose/application-manager.ts
  src/config/backends/config-fs.ts
  src/config/index.ts
  src/db.ts
  src/device-api/common.js
  src/device-state.ts
  src/device-state/db-format.ts
  src/device-state/target-state-cache.ts
  src/device-state/target-state.ts
  src/event-tracker.ts
  src/lib/api-helper.ts
  src/lib/api-keys.ts
  src/lib/avahi.ts
  src/lib/firewall.ts
  src/lib/legacy.ts
  src/logger.ts
  src/proxyvisor.js
  src/supervisor-api.ts
  src/supervisor.ts
  test/legacy/02-db.spec.ts
  test/legacy/03-config.spec.ts
  test/legacy/05-device-state.spec.ts
  test/legacy/08-event-tracker.spec.ts
  test/legacy/10-api-binder.spec.ts
  test/legacy/11-logger.spec.ts
  test/legacy/18-startup.spec.ts
  test/legacy/21-supervisor-api.spec.ts
  test/legacy/22-local-mode.spec.ts
  test/legacy/28-db-format.spec.ts
  test/legacy/34-firewall.spec.ts
  test/legacy/39-compose-commit.spec.ts
  test/legacy/41-device-api-v1.spec.ts
  test/legacy/42-device-api-v2.spec.ts
  test/legacy/src/compose/application-manager.spec.ts
  test/lib/db-helper.ts
  test/lib/mocked-device-api.ts
  test/lib/prepare.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v14.0.17
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Add bind-mount label
  src/compose/utils.ts
Due: balena-lint --typescript --fix

Set desired es-version for downstream modules that support it
  package-lock.json
  package.json
  src/app.ts
Due: balena-lint --typescript --fix

Update & deduplicate pinejs-client-request to 7.3.5
  package-lock.json
  package.json
Due: none

v14.0.18
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Path conditions:
  balena-lint: any of: *.coffee
  balena-lint --typescript --fix: (any of: *.ts) or (any of: *.js)
  balena-lint --tests: any of: test/**/*.coffee
  balena-lint --typescript --no-prettier --tests: any of: test/**/*.ts
