Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: balena-lint, balena-lint --typescript --fix, balena-lint --tests, balena-lint --typescript --no-prettier --tests

.lintstagedrc:

{
	"*.coffee": [
		"balena-lint"
	],
	"*.ts": [
		"balena-lint --typescript --fix",
	],
	"*.js": [
		"balena-lint --typescript --fix",
	],
	"test/**/*.coffee": [
		"balena-lint --tests"
	],
	"test/**/*.ts": [
		"balena-lint --typescript --no-prettier --tests"
	],
}

debug
  src/compose/app.ts
  src/compose/application-manager.ts
  src/device-config.ts
  src/device-state.ts
Due: balena-lint --typescript --fix

more logs
  src/compose/app.ts
  src/compose/application-manager.ts
  src/device-config.ts
  src/device-state.ts
Due: balena-lint --typescript --fix

Add config.txt support for Rocktech rpi
  src/config/backends/config-txt.ts
Due: balena-lint --typescript --fix

v12.2.9
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Add config.txt support for Alliance rpi3
  src/config/backends/config-txt.ts
Due: balena-lint --typescript --fix

v12.2.10
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Improve supervisor API behavior when locks are set
  src/device-api/v1.ts
  src/device-api/v2.ts
  src/lib/update-lock.ts
  src/supervisor-api.ts
  test/41-device-api-v1.spec.ts
  test/42-device-api-v2.spec.ts
  test/lib/mocked-device-api.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.2.11
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

v12.2.12
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Add dependabot configuration
  .github/dependabot.yml
Due: none

v12.2.13
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Revert "Add dependabot configuration"
  .github/dependabot.yml
Due: none

v12.2.14
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Retired CameronDiver from CODEOWNERS
  .github/CODEOWNERS
Due: none

v12.2.15
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

v12.2.16
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Move required configuration check to Backend
  src/config/backends/backend.ts
  src/config/backends/config-txt.ts
  src/device-config.ts
  test/12-device-config.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Add support for `BALENA_HOST_SPLASH_IMAGE` config
  src/config/backends/backend.ts
  src/config/backends/index.ts
  src/config/backends/splash-image.ts
  src/device-config.ts
  src/lib/fs-utils.ts
  test/12-device-config.spec.ts
  test/16-config-utils.spec.ts
  test/43-splash-image.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.3.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

build: allow building on balena build servers
  Dockerfile.template
Due: none

v12.3.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

v12.3.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Cancel pending apply target after /v1/update request
  package-lock.json
  package.json
  src/api-binder.ts
  src/device-state/target-state.ts
  test/40-target-state.spec.ts
  test/41-device-api-v1.spec.ts
  test/42-device-api-v2.spec.ts
  test/data/device-api-responses.json
  test/lib/helpers.ts
  test/lib/mocked-device-api.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.3.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Removed richbayliss from CODEOWNERS
  .github/CODEOWNERS
Due: none

v12.3.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Prevent inserting null commit during DB migration
  src/migrations/M00006.js
Due: balena-lint --typescript --fix

v12.3.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Fix gpu label support
  src/compose/utils.ts
  test/04-service.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.3.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Patch killServicesUsingApi to not get stuck in noop loop
  src/compose/application-manager.ts
Due: balena-lint --typescript --fix

v12.3.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Write POST /v1/blink unit test
  test/41-device-api-v1.spec.ts
  test/data/device-api-responses.json
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Complete POST /v1/purge unit tests
  test/41-device-api-v1.spec.ts
  test/data/device-api-responses.json
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Complete /v1/device/host-config unit tests, modify PATCH route
  src/device-state.ts
  src/host-config.ts
  src/lib/constants.ts
  test/41-device-api-v1.spec.ts
  test/data/device-api-responses.json
  test/data/etc/hostname.template
  test/data/mnt/boot/system-proxy/no_proxy
  test/data/mnt/boot/system-proxy/no_proxy.template
  test/data/mnt/boot/system-proxy/redsocks.conf
  test/data/mnt/boot/system-proxy/redsocks.conf.template
  test/lib/mocked-dbus.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Add POST /v1/regenerate-api-key unit tests
  test/41-device-api-v1.spec.ts
  test/data/device-api-responses.json
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.4.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Call restore for each healthcheck stub in v1 tests
  test/41-device-api-v1.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Refactor checkTruthy to return more predictable values
  src/config/types.ts
  src/device-api/v1.ts
  src/device-api/v2.ts
  src/device-config.ts
  src/lib/contracts.ts
  src/lib/validation.ts
  src/network.ts
  test/06-validation.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.4.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none
