Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: balena-lint, balena-lint --typescript --fix, balena-lint --tests, balena-lint --typescript --no-prettier --tests

.lintstagedrc:

{
	"*.coffee": [
		"balena-lint"
	],
	"*.ts": [
		"balena-lint --typescript --fix",
	],
	"*.js": [
		"balena-lint --typescript --fix",
	],
	"test/**/*.coffee": [
		"balena-lint --tests"
	],
	"test/**/*.ts": [
		"balena-lint --typescript --no-prettier --tests"
	],
}

Add special case for base DTO params on RPI config
  src/config/backends/config-txt.ts
  test/integration/config/config-txt.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Update Pin balena-io/deploy-to-balena-action action to 4495424
  .github/actions/finalize/action.yml
  .github/actions/publish/action.yml
Due: none

Update balena-io/deploy-to-balena-action action to v1.1.12
  .github/actions/finalize/action.yml
  .github/actions/publish/action.yml
Due: none

Update balena-io/deploy-to-balena-action action to v2
  .github/actions/finalize/action.yml
  .github/actions/publish/action.yml
Due: none

Patch config.txt backend to return array configs correctly
  src/config/backends/config-txt.ts
  test/integration/config/config-txt.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Patch default dtparam handling in config.txt
  src/config/backends/config-txt.ts
  test/integration/config/config-txt.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Fix support for rsync deltas
  entry.sh
Due: none

Add support for repeated overlays
  src/config/backends/config-txt.ts
  test/integration/config/config-txt.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Add sync directory to lint sources
  sync/device.ts
  sync/init.ts
  sync/livepush.ts
  sync/logs.ts
  sync/sync.ts
  tsconfig.json
Due: balena-lint --typescript --fix

Update Node to v20
  Dockerfile.template
  README.md
  package-lock.json
  package.json
  src/logging/balena-backend.ts
Due: balena-lint --typescript --fix

Remove dependency on @balena/happy-eyeballs
  package-lock.json
  package.json
  src/app.ts
Due: balena-lint --typescript --fix

Update balena-register-device and its deps
  package-lock.json
  package.json
Due: none

Update fatrw to v0.2.21
  Dockerfile.template
  build-utils/rust-arch.sh
Due: none

Pin iptables to 1.8.9 (legacy)
  Dockerfile.template
Due: none

Increase the timeout for auto select family to 5000ms to avoid issues
  src/app.ts
Due: balena-lint --typescript --fix

Set @balena/es-version to es2022 to match tsconfig.json
  package-lock.json
  package.json
  src/app.ts
Due: balena-lint --typescript --fix

Log the full error on device state report failure as it is more useful
  src/api-binder/report.ts
Due: balena-lint --typescript --fix

Add revpi-connect-4 to RPi variants We need the supervisor to be able to manage config.txt changes for the RevPi Connect 4.
  src/config/backends/config-txt.ts
Due: balena-lint --typescript --fix

Update balena-io/deploy-to-balena-action action to v2.0.48
  .github/actions/finalize/action.yml
  .github/actions/publish/action.yml
Due: none

Add takeLock to state funnel
  src/compose/app.ts
  src/compose/update-strategies.ts
  test/integration/compose/application-manager.spec.ts
  test/unit/compose/app.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Change lock directory in tests to tmpfs
  docker-compose.test.yml
Due: none

Log takeLock and releaseLock steps as system events
  src/event-tracker.ts
  src/lib/log-types.ts
  src/lib/update-lock.ts
Due: balena-lint --typescript --fix

Separate rwlock functionality from update-lock for clarity
  src/compose/composition-steps.ts
  src/config/configJson.ts
  src/device-state.ts
  src/device-state/target-state.ts
  src/lib/process-lock.ts
  src/lib/update-lock.ts
  src/logger.ts
Due: balena-lint --typescript --fix

Take lock before updating service metadata
  src/compose/app.ts
  src/compose/composition-steps.ts
  test/integration/compose/application-manager.spec.ts
  test/unit/compose/app.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Improve types & remove some lodash from state engine
  src/compose/app.ts
  src/compose/application-manager.ts
Due: balena-lint --typescript --fix

Simplify lock interface to prep for adding takeLock to state funnel
  src/compose/app.ts
  src/compose/application-manager.ts
  src/compose/composition-steps.ts
  src/device-api/actions.ts
  src/device-state.ts
  src/lib/update-lock.ts
  test/integration/compose/application-manager.spec.ts
  test/integration/device-api/actions.spec.ts
  test/unit/compose/app.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Add methods for easier checking of lockfile existence
  src/lib/update-lock.ts
  test/integration/lib/update-lock.spec.ts
  test/unit/lib/update-lock.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Implement takeLock composition step + tests
  src/compose/composition-steps.ts
  src/lib/update-lock.ts
  test/integration/lib/update-lock.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Add update lock release functionality to state funnel
  src/compose/app.ts
  src/compose/application-manager.ts
  src/compose/composition-steps.ts
  src/lib/update-lock.ts
  test/integration/lib/update-lock.spec.ts
  test/unit/compose/app.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Refine update locking interface
  entry.sh
  src/compose/application-manager.ts
  src/config/index.ts
  src/device-state/preload.ts
  src/host-config.ts
  src/lib/errors.ts
  src/lib/fs-utils.ts
  src/lib/lockfile.ts
  src/lib/update-lock.ts
  src/network.ts
  test/integration/lib/lockfile.spec.ts
  test/integration/lib/update-lock.spec.ts
  test/lib/mocked-dockerode.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Clean up lockfiles on takeLock step failure
  src/lib/update-lock.ts
  test/integration/lib/update-lock.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

DO NOT MERGE: testing update lock bug
  src/compose/app.ts
  src/compose/composition-steps.ts
  src/lib/update-lock.ts
  src/types/basic.ts
  test/integration/lib/update-lock.spec.ts
  test/unit/types.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Fix some RegEx io-ts types
  src/types/basic.ts
Due: balena-lint --typescript --fix

Respect lockOverride when taking locks
  src/device-api/actions.ts
  src/lib/update-lock.ts
  test/integration/lib/update-lock.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Inherit Renovate settings from balena-io
  .github/renovate.json
Due: none

Update balena-io/deploy-to-balena-action action to v2.0.51
  .github/actions/finalize/action.yml
  .github/actions/publish/action.yml
Due: none

Update balena-io/deploy-to-balena-action action to v2.0.52
  .github/actions/finalize/action.yml
  .github/actions/publish/action.yml
Due: none

Update balena-io/deploy-to-balena-action action to v2.0.53
  .github/actions/finalize/action.yml
  .github/actions/publish/action.yml
Due: none
