Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: balena-lint, balena-lint --typescript --fix, balena-lint --tests, balena-lint --typescript --no-prettier --tests

Fix broken IPAM network validation
  src/compose/network.ts
  test/compose/network.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.5.9
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

patch: Fix substring end parameter for accurate CPU ID
  src/lib/system-info.ts
Due: balena-lint --typescript --fix

patch: Fix the sysInfo.getCpuId() test
  test/38-sys-info.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.5.10
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Convert device-api/common.js to TypeScript
  src/device-api/common.ts
Due: balena-lint --typescript --fix

Refactor extra_uEnv to not match with intel nuc
  src/config/backends/extra-uEnv.ts
  test/33-extra-uenv-config.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.5.11
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Change 'require' to 'import * from' for dependencies
  src/compose/app.ts
  src/compose/application-manager.ts
  src/compose/network-manager.ts
  src/compose/network.ts
  src/compose/service-manager.ts
  src/compose/volume-manager.ts
  src/compose/volume.ts
  src/config/functions.ts
  src/device-api/v2.ts
  src/device-state.ts
  src/device-state/current-state.ts
  src/device-state/preload.ts
  src/device-state/target-state.ts
  src/event-tracker.ts
  src/lib/blink.ts
  src/lib/journald.ts
  src/lib/request.ts
  src/lib/supervisor-version.ts
  src/lib/update-lock.ts
  src/network.ts
  src/supervisor-api.ts
  src/supervisor.ts
  test/07-blink.spec.ts
  test/08-event-tracker.spec.ts
  test/23-contracts.spec.ts
  test/41-device-api-v1.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Update supervisor to typescript 4
  package-lock.json
  package.json
  src/compose/images.ts
  src/config/backends/backend.ts
  src/device-state.ts
  src/migrations/M00001.js
  src/migrations/M00002.js
Due: balena-lint --typescript --fix

Remove tag from livepush generated image
  sync/init.ts
Due: balena-lint --typescript --fix

balena-supervisor: replace references to resin-vars
  tools/dind/start-resin-supervisor
Due: none

Fix mock dockerode module
  test/41-device-api-v1.spec.ts
  test/42-device-api-v2.spec.ts
  test/lib/mocked-dockerode.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Update dockerode types to latest 2.x version
  package-lock.json
  package.json
  src/compose/network.ts
  src/compose/types/network.ts
  test/17-compose-network.spec.ts
  test/compose/network.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.5.12
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Support app uuids and release version on target state
  src/compose/app.ts
  src/compose/application-manager.ts
  src/compose/network.ts
  src/compose/service-manager.ts
  src/compose/service.ts
  src/compose/types/service.ts
  src/compose/volume-manager.ts
  src/compose/volume.ts
  src/device-state.ts
  src/device-state/db-format.ts
  src/device-state/preload.ts
  src/device-state/target-state-cache.ts
  src/device-state/target-state.ts
  src/lib/migration.ts
  src/lib/validation.ts
  src/migrations/M00007.js
  src/types/state.ts
  test/05-device-state.spec.ts
  test/06-validation.spec.ts
  test/13-application-manager.spec.ts
  test/20-compose-volume.spec.ts
  test/28-db-format.spec.ts
  test/32-compose-app-manager.spec.ts
  test/34-firewall.spec.ts
  test/36-compose-app.spec.ts
  test/40-app-uuids.spec.ts
  test/44-volume-manager.spec.ts
  test/compose/network.spec.ts
  test/data/apps-pin.json
  test/data/apps.json
  test/data/testconfig-uuid.json
  test/data/uuid-target-state.json
  test/lib/application-state-mock.ts
  test/lib/compose-helpers.ts
  test/lib/mocked-dockerode.ts
  test/lib/prepare.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Add support for running commands on the host
  src/lib/host-utils.ts
  src/lib/journald.ts
Due: balena-lint --typescript --fix

Add support for host extensions (WIP)
  src/compose/application-manager.ts
  src/compose/composition-steps.ts
  src/compose/network.ts
  src/compose/overlay.ts
  src/compose/volume.ts
  src/device-state/preload.ts
  src/lib/log-types.ts
  src/lib/validation.ts
  src/logger.ts
Due: balena-lint --typescript --fix

v12.5.13
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Added clean step to remove previous builds before running tests
  package.json
Due: none

v12.5.14
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

v12.5.15
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Enable docker layer caching on CircleCI
  circle.yml
Due: none

v12.5.16
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Bump dockerode types to 2.5.34
  package-lock.json
  package.json
  src/compose/network.ts
  src/compose/types/network.ts
  test/17-compose-network.spec.ts
  test/compose/network.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.6.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Update blinking to 0.0.4
  package.json
Due: none

v12.6.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Patch restart to not remove & recreate containers
  src/device-api/common.js
Due: balena-lint --typescript --fix

Update balena-register-device and send extra info at provision time
  package-lock.json
  package.json
  repo.yml
  src/config/functions.ts
  src/config/schema-type.ts
  src/lib/api-helper.ts
  src/lib/errors.ts
  src/lib/register-device.ts
  test/10-api-binder.spec.ts
  typings/balena-register-device.d.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Add tilde as a shortcut for project root, allowing shorter imports. Imports may be made with file paths like so: "~/src/lib/constants.ts".
  tsconfig.json
  tslint.json
  webpack.config.js
Due: balena-lint --typescript --fix

Remove version tag from livepush generated image
  sync/init.ts
Due: balena-lint --typescript --fix

v12.6.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

fix passing drivers opts to docker creation obj
  src/compose/network.ts
Due: balena-lint --typescript --fix

Added configurations.md to document all configurable vars
  docs/configurations.md
Due: none

v12.6.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Log error responses from API when reporting state
  src/device-state/current-state.ts
Due: balena-lint --typescript --fix

Path conditions:
  balena-lint: any of: *.coffee
  balena-lint --typescript --fix: (any of: *.ts) or (any of: *.js)
  balena-lint --tests: any of: test/**/*.coffee
  balena-lint --typescript --no-prettier --tests: any of: test/**/*.ts
