Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: balena-lint, balena-lint --typescript --fix, balena-lint --tests, balena-lint --typescript --no-prettier --tests

mount-partitions: do not hardcode partition types
  mount-partitions.sh
Due: none

patch: Remove reference of override_lock variable
  docs/update-locking.md
Due: none

Update balena-io/deploy-to-balena-action action to v0.28.0
  .github/actions/finalize/action.yml
  .github/actions/publish/action.yml
Due: none

Update to nodejs 18
  Dockerfile.template
  package-lock.json
  package.json
  tsconfig.json
Due: none

Replace dbus test service with mock-systemd-bus
  docker-compose.dev.yml
  docker-compose.test.yml
  test/integration/device-api/actions.spec.ts
  test/lib/dbus/.npmrc
  test/lib/dbus/Dockerfile
  test/lib/dbus/entry.sh
  test/lib/dbus/login.ts
  test/lib/dbus/package.json
  test/lib/dbus/systemd.ts
  test/lib/dbus/tsconfig.json
  test/lib/dbus/utils.ts
  test/lib/legacy-mocha-hooks.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Replace node-dbus with @balena/systemd
  Dockerfile.template
  package-lock.json
  package.json
  src/lib/dbus.ts
  test/integration/host-config.spec.ts
  webpack.config.js
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Update README
  README.md
Due: none

Bump knex to v2.5.1
  build-utils/hardcode-migrations.js
  package-lock.json
  package.json
  webpack.config.js
Due: balena-lint --typescript --fix

Bump sqlite3 to 5.1.6
  package-lock.json
  package.json
Due: none

Add node flag for manually trigger heap snapshots
  entry.sh
Due: none

Update wait-for-it script to fail if interrupted
  test/lib/wait-for-it.sh
Due: none

Dump target-state to hostOS tmp dir
  src/device-state.ts
Due: balena-lint --typescript --fix

Send SIGUSR2 signal to Node to snapshot
  Dockerfile.template
  entry.sh
  profile.sh
Due: none

Update runtime-base image to alpine:3.18
  Dockerfile.template
Due: none

Update balena-io/deploy-to-balena-action action to v1
  .github/actions/finalize/action.yml
  .github/actions/publish/action.yml
Due: none

Update balena-io/deploy-to-balena-action action to v0.29.1
  .github/actions/finalize/action.yml
  .github/actions/publish/action.yml
Due: none

Use native structuredClone instead of _.cloneDeep
  package.json
  src/api-binder/index.ts
  src/compose/application-manager.ts
  src/compose/network.ts
  src/compose/utils.ts
  src/device-config.ts
  src/device-state/target-state.ts
  src/event-tracker.ts
Due: balena-lint --typescript --fix

Use `~=` to specify alpine package versions
  Dockerfile.template
Due: none

Add tmpfs for /mnt/root/tmp in test env
  docker-compose.test.yml
Due: none

Make Node & NPM versions in package.json slightly more permissive to avoid warning
  package.json
Due: none

Revert os-release path to /mnt/root
  .mochapodrc.yml
  docker-compose.test.yml
  mount-partitions.sh
  test/data/root/etc/os-release
  test/integration/device-api/actions.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Remove unused docker logs logging code
  src/logging/container.ts
  src/logging/index.ts
  test/legacy/11-logger.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Use mutation for adding service/image ids to logs to reduce allocations
  src/logger.ts
  src/logging/monitor.ts
Due: balena-lint --typescript --fix

Remove unnecessary async on handling journald stderr entries
  src/logging/monitor.ts
Due: balena-lint --typescript --fix

Keep the container lock for the entire duration of attaching logs
  src/logger.ts
Due: balena-lint --typescript --fix

Avoid unnecessary work in systemd log row handling for invalid logs
  src/logging/monitor.ts
Due: balena-lint --typescript --fix

Move happy-eyeballs to dev-dependencies
  package-lock.json
  package.json
Due: none

Move systeminformation to devDependencies
  package-lock.json
  package.json
Due: none

Move got to devDependencies
  package-lock.json
  package.json
Due: none

Move semver to dev-dependencies
  package-lock.json
  package.json
Due: none

Move mdns-resolver to devDependencies
  package-lock.json
  package.json
Due: none

Do not expose ports from image if service network mode
  src/compose/service.ts
  test/unit/compose/service.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Convert multiple bluebird uses to native promises
  src/api-binder/index.ts
  src/api-binder/report.ts
  src/compose/images.ts
  src/compose/network-manager.ts
  src/compose/service-manager.ts
  src/config/backends/splash-image.ts
  src/device-api/v2.ts
  src/device-state.ts
  src/device-state/target-state.ts
  src/lib/migration.ts
  src/lib/system-info.ts
  src/local-mode.ts
  src/logging/local-backend.ts
  src/logging/monitor.ts
  src/network.ts
  sync/init.ts
  test/legacy/11-logger.spec.ts
  test/legacy/40-target-state.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Fix husky config for automatic linting on commit
  .husky/pre-commit
  package.json
Due: none

Revert "Do not expose ports from image if service network mode"
  src/compose/service.ts
  test/unit/compose/service.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Switch _.isArray usage to native versions
  src/compose/service.ts
  src/compose/utils.ts
  src/config/utils.ts
  src/device-state/preload.ts
  src/host-config.ts
  test/lib/mocked-iptables.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Switch _.isUndefined usage to native versions
  src/config/backends/splash-image.ts
  src/lib/validation.ts
Due: balena-lint --typescript --fix

Switch _.isString usage to native versions
  src/compose/ports.ts
  src/compose/service.ts
  src/compose/utils.ts
  src/config/backends/config-txt.ts
  src/device-config.ts
  src/lib/validation.ts
Due: balena-lint --typescript --fix

Switch _.isNull usage to native versions
  src/config/backends/splash-image.ts
  src/config/types.ts
Due: balena-lint --typescript --fix

Switch _.assign usage to native versions
  src/compose/service.ts
  src/compose/utils.ts
  src/config/configJson.ts
  src/device-config.ts
  src/logging/balena-backend.ts
  src/logging/local-backend.ts
Due: balena-lint --typescript --fix

Path conditions:
  balena-lint: any of: *.coffee
  balena-lint --typescript --fix: (any of: *.ts) or (any of: *.js)
  balena-lint --tests: any of: test/**/*.coffee
  balena-lint --typescript --no-prettier --tests: any of: test/**/*.ts
