Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: balena-lint, balena-lint --typescript --fix, balena-lint --tests, balena-lint --typescript --no-prettier --tests

v11.10.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Support setting device/fleet configuration in extra_uEnv.txt
  package-lock.json
  package.json
  src/config/backends/backend.ts
  src/config/backends/extlinux.ts
  src/config/backends/extra-uEnv.ts
  src/config/utils.ts
  src/lib/constants.ts
  src/lib/errors.ts
  src/lib/os-release.ts
  test/27-extlinux-config.spec.ts
  test/31-extra-uenv-config.spec.ts
  test/32-os-release.spec.ts
  test/data/etc/os-release-tx2
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v11.11.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

device-state: Convert to a singleton
  package-lock.json
  package.json
  src/api-binder.ts
  src/application-manager.d.ts
  src/application-manager.js
  src/device-api/v2.ts
  src/device-state.ts
  src/device-state/preload.ts
  src/lib/migration.ts
  src/supervisor.ts
  test/00-init.ts
  test/03-config.spec.ts
  test/05-device-state.spec.ts
  test/11-api-binder.spec.ts
  test/14-application-manager.spec.ts
  test/18-startup.spec.ts
  test/21-supervisor-api.spec.ts
  test/lib/mocked-device-api.ts
  test/lib/mocked-dockerode.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Export CompositionStep type from composition-steps module
  src/application-manager.d.ts
  src/compose/composition-steps.ts
  src/device-state.ts
Due: balena-lint --typescript --fix

Dont use Bluebird.try and add ImageForService to images module
  src/compose/images.ts
Due: balena-lint --typescript --fix

Ensure appId is always set in Service instance
  src/compose/service.ts
Due: balena-lint --typescript --fix

Small composition step module fixups
  src/compose/composition-steps.ts
Due: balena-lint --typescript --fix

Fix some service and App typings
  src/compose/service.ts
  src/compose/types/service.ts
  src/types/state.ts
Due: balena-lint --typescript --fix

Well-define types in serviceManager.updateMetadata
  src/compose/service-manager.ts
Due: balena-lint --typescript --fix

Remove unused Image typing
  src/types/image.ts
Due: balena-lint --typescript --fix

Split up application-manager and convert to typescript
  src/compose/app.ts
  src/compose/application-manager.ts
  src/compose/composition-steps.ts
  src/compose/update-strategies.ts
  src/device-api/v1.js
  src/device-api/v2.ts
  src/device-state/db-format.ts
  src/proxyvisor.js
  test/29-compose-app-manager.spec.ts
  test/30-compose-app.ts
  test/data/docker-states/networks/1623449_default.json
  test/data/docker-states/supervisor-api/inspect.json
  test/lib/application-state-mock.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

fix up "atleast" -> "at least"
  README.md
  src/api-binder.ts
  src/device-state.ts
  test/05-device-state.spec.ts
  test/11-api-binder.spec.ts
  test/lib/mocked-device-api.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v11.11.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Fix an issue with reporting initial config using a stale target state
  src/api-binder.ts
  src/device-state/target-state.ts
Due: balena-lint --typescript --fix

v11.11.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

fix matching extra_uEnv backend with unsupported devices
  src/config/backends/backend.ts
  src/config/backends/config-fs.ts
  src/config/backends/extlinux.ts
  src/config/backends/extra-uEnv.ts
  src/config/backends/raspberry-pi.ts
  src/config/utils.ts
  src/lib/constants.ts
  test/27-extlinux-config.spec.ts
  test/31-extra-uenv-config.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

fix duplicate test file index
  test/32-extra-uenv-config.spec.ts
  test/33-os-release.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v11.11.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

bug: Fix undefined containerId object
  src/device-api/common.js
Due: balena-lint --typescript --fix

v11.11.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Fixes #1299 v1 start/stop endpoint issue with service access.
  src/device-api/v1.js
  test/21-supervisor-api.spec.ts
  test/data/device-api-responses.json
  test/lib/mocked-device-api.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v11.11.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Fixes documentation - ping doesn't need apiKey and minor documentation formatting changes.
  docs/API.md
Due: none

v11.11.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Update pinejs-client-request and make use of a named key
  package-lock.json
  package.json
  src/api-binder.ts
  test/lib/mocked-balena-api.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

WIP
  src/application-manager.d.ts
  src/application-manager.js
  src/compose/app.ts
  src/compose/application-manager.ts
  src/compose/images.ts
  src/device-api/common.d.ts
  src/device-api/common.js
  src/device-api/v1.js
  src/device-api/v2.ts
  src/device-state.ts
  src/device-state/preload.ts
  src/lib/migration.ts
  src/proxyvisor.js
  src/supervisor.ts
  test/00-init.ts
  test/05-device-state.spec.ts
  test/14-application-manager.spec.ts
  test/18-startup.spec.ts
  test/28-db-format.spec.ts
  test/32-compose-app-manager.spec.ts
  test/33-firewall.spec.ts
  test/34-compose-app.ts
  test/lib/mocked-device-api.ts
  test/lib/mocked-dockerode.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v11.11.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Update contrato to 0.5
  package-lock.json
  package.json
  repo.yml
Due: none

v11.12.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Update resumable-request
  package-lock.json
  package.json
  repo.yml
Due: none

v11.12.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Fix device-tag fetching function
  src/api-binder.ts
Due: balena-lint --typescript --fix

v11.12.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

WIP - 5/8/20
  src/compose/app.ts
  src/compose/application-manager.ts
  src/compose/service-manager.ts
  src/compose/service.ts
  src/compose/types/service.ts
  src/compose/utils.ts
  src/device-state/db-format.ts
  src/supervisor.ts
  test/05-device-state.spec.ts
  test/14-application-manager.spec.ts
  test/18-startup.spec.ts
  test/28-db-format.spec.ts
  test/32-compose-app-manager.spec.ts
  test/34-compose-app.ts
  test/lib/application-state-mock.ts
  test/lib/mocked-dockerode.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

WIP 6/8/2020
  src/compose/app.ts
  src/compose/application-manager.ts
  src/compose/composition-steps.ts
  src/compose/service.ts
  test/34-compose-app.ts
  test/lib/application-state-mock.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

WIP 10/8/2020
  src/compose/app.ts
  src/compose/service.ts
  src/compose/update-strategies.ts
  test/34-compose-app.ts
  test/fast-mocha.opts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

TMP: Container logs from journalctl
  src/compose/service-manager.ts
  src/compose/service.ts
  src/lib/journald.ts
  src/logger.ts
  src/logging/container.ts
  src/logging/monitor.ts
  src/supervisor.ts
Due: balena-lint --typescript --fix

WIP 10/8/2020 Rich
  src/compose/app.ts
  test/34-compose-app.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Fixed all tests and fixed typo
  src/compose/app.ts
  src/compose/application-manager.ts
  src/compose/update-strategies.ts
  test/34-compose-app.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Path conditions:
  balena-lint: any of: *.coffee
  balena-lint --typescript --fix: (any of: *.ts) or (any of: *.js)
  balena-lint --tests: any of: test/**/*.coffee
  balena-lint --typescript --no-prettier --tests: any of: test/**/*.ts
