Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: balena-lint, balena-lint --typescript --fix, balena-lint --tests, balena-lint --typescript --no-prettier --tests

Create balena-supervisor group for supevisor image
  Dockerfile.template
Due: none

Clean leftover locks after supervisor crash
  src/compose/application-manager.ts
  src/lib/constants.ts
  src/lib/update-lock.ts
Due: balena-lint --typescript --fix

Model logic updates
  model/sbvr/supervisor.sbvr
Due: none

Added `SUPERVISOR_REPORT_INTERVAL` config var
  docs/configurations.md
  src/config/schema-type.ts
  src/config/schema.ts
  src/device-config.ts
  src/device-state/current-state.ts
  src/lib/throttle.ts
  test/12-device-config.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Fix `.local` dns resolution when returning multiple addresses
  src/app.ts
Due: balena-lint --typescript --fix

Ensure happy-eyeballs uses supervisor dns lookup
  src/app.ts
Due: balena-lint --typescript --fix

Added `SUPERVISOR_METRICS_INTERVAL` config var Control frequency of device metrics being sent in current state reports
  docs/configurations.md
  src/config/schema-type.ts
  src/config/schema.ts
  src/device-config.ts
  src/device-state/current-state.ts
  test/12-device-config.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.11.21
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Added circleci config to publish v12.11.16
  Dockerfile
  automation/build.sh
  circle.yml
Due: none

Refactor `SUPERVISOR_POLL_INTERVAL` description to mention back off
  docs/configurations.md
Due: none

v12.11.22
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

add-supervisor-update-info
  docs/API.md
Due: none

Add troubleshooting notice for macOS
  README.md
Due: none

v12.11.23
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Use dmidecode to read cpuid in non ARM devices
  Dockerfile.template
  src/lib/system-info.ts
  test/src/lib/system-info.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.11.24
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Use dmidecode to read cpuid in non ARM devices
  src/lib/system-info.ts
  test/src/lib/system-info.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Fix memoization of registry token request
  src/lib/docker-utils.ts
Due: balena-lint --typescript --fix

v12.11.25
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Increase delta request timeout to 59s to better align with our backends
  src/config/schema-type.ts
  src/device-config.ts
  test/12-device-config.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.11.26
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Ensure the `finish` event is always reported when fetching images
  src/compose/images.ts
Due: balena-lint --typescript --fix

docs: Clarify that update locks prevent restarts from env var changes
  docs/update-locking.md
Due: none

v12.11.27
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

v12.11.28
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

patch: Update fleet terminology for the Supervisor API
  docs/API.md
Due: none

Replace application --> fleet
  README.md
  docs/API.md
  docs/configurations.md
  docs/firewall.md
  docs/update-locking.md
Due: none

patch: Update fleet terminology for application update locks
  docs/update-locking.md
Due: none

v12.11.29
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Throw if target states gets a 304 without an ETAG
  src/device-state/target-state.ts
  test/40-target-state.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.11.30
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Clean up image event reporting
  src/compose/images.ts
Due: balena-lint --typescript --fix

v12.11.31
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Perform safeRename on writeFileAtomic
  src/lib/fs-utils.ts
Due: balena-lint --typescript --fix

Use `writeAndSync` when writing to config.json
  src/config/configJson.ts
Due: balena-lint --typescript --fix

v12.11.32
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Add support for local ipv6 reporting
  src/network.ts
  test/09-network.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v12.11.33
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Remove lockingIfNecessary in favor of updateLock.lock
  src/compose/application-manager.ts
  src/device-api/common.js
  src/lib/update-lock.ts
Due: balena-lint --typescript --fix

Path conditions:
  balena-lint: any of: *.coffee
  balena-lint --typescript --fix: (any of: *.ts) or (any of: *.js)
  balena-lint --tests: any of: test/**/*.coffee
  balena-lint --typescript --no-prettier --tests: any of: test/**/*.ts
