Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: balena-lint, balena-lint --typescript --fix, balena-lint --tests, balena-lint --typescript --no-prettier --tests

.lintstagedrc:

{
	"*.coffee": [
		"balena-lint"
	],
	"*.ts": [
		"balena-lint --typescript --fix",
	],
	"*.js": [
		"balena-lint --typescript --fix",
	],
	"test/**/*.coffee": [
		"balena-lint --tests"
	],
	"test/**/*.ts": [
		"balena-lint --typescript --no-prettier --tests"
	],
}

Ignore unknown image classes on the target state
  src/compose/app.ts
  src/device-state/db-format.ts
  src/device-state/target-state-cache.ts
  test/28-db-format.spec.ts
  test/34-firewall.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Only report current state of apps in the target state
  src/device-state.ts
Due: balena-lint --typescript --fix

Ignore the supervisor in the target state
  src/compose/app.ts
  src/lib/supervisor-metadata.ts
Due: balena-lint --typescript --fix

Cleanup unused methods and dependencies on db ids
  src/compose/application-manager.ts
  src/compose/composition-steps.ts
  src/compose/images.ts
  src/compose/service-manager.ts
  src/lib/errors.ts
  test/41-device-api-v1.spec.ts
  test/lib/application-manager-test-states.ts
  test/lib/application-state-mock.ts
  test/lib/mocked-device-api.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Refactor build to produce source-map for node debugging
  .vscode/launch.json
  README.md
  entry.sh
  tsconfig.json
  webpack.config.js
Due: balena-lint --typescript --fix

Use balenalib node base image
  Dockerfile.template
Due: none

v13.0.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Update: add renovate.json
  renovate.json
Due: none

Remove restrictions on docker env vars
  src/types/basic.ts
  test/06-validation.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Fix database migration for legacyApps
  src/migrations/M00008.js
  src/migrations/M00009.js
Due: balena-lint --typescript --fix

v13.0.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Correctly evaluate downloadProgress when computing current state
  src/compose/application-manager.ts
  test/src/compose/application-manager.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v13.0.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Add system id/model support for Compulab IOT-gate
  src/lib/system-info.ts
Due: balena-lint --typescript --fix

v13.0.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Add lockfile binary and internal lib for interfacing with it
  Dockerfile.template
  entry.sh
  src/lib/lockfile.ts
  test/src/lib/lockfile.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Make lockfile cleanup multi-app aware
  src/lib/lockfile.ts
  src/lib/update-lock.ts
  test/src/lib/lockfile.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Modify update lock module to use new lockfile binary and library
  package-lock.json
  package.json
  src/lib/lockfile.ts
  src/lib/update-lock.ts
  src/supervisor.ts
  test/src/lib/lockfile.spec.ts
  test/src/lib/update-lock.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Move Supervisor-specific from lockfile.ts to update-lock.ts to make lockfile module more generic
  src/lib/lockfile.ts
  src/lib/update-lock.ts
  test/src/lib/lockfile.spec.ts
  test/src/lib/update-lock.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v13.1.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Do not fail lockfile cleanup if files do not exist
  entry.sh
Due: none

v13.1.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Explain /v2/state/status's status field in its response
  docs/API.md
Due: none

v13.1.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Remove in memory storage of started/stopped containers
  src/compose/app.ts
  src/compose/application-manager.ts
  src/compose/composition-steps.ts
  test/src/compose/app.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Only start a container once in its lifetime This will ensure the restart policy specified is not violated
  src/compose/app.ts
  test/src/compose/app.spec.ts
  test/src/compose/application-manager.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v13.1.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Use HostConfig.Mounts to bind paths into container
  src/compose/service-manager.ts
  src/compose/service.ts
  test/41-device-api-v1.spec.ts
  test/data/docker-states/entrypoint/inspect.json
  test/data/docker-states/network-mode-service/inspect.json
  test/data/docker-states/simple/inspect.json
  test/lib/mockerode.ts
  test/src/compose/service.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Also create update lock bind mount dirs on host on startup
  src/compose/application-manager.ts
  src/compose/service-manager.ts
  test/src/compose/application-manager.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Added `BALENA_SUPERVISOR_REPORT_INTERVAL` config
  docs/configurations.md
  src/api-binder/index.ts
  src/api-binder/report.ts
  src/config/schema-type.ts
  src/config/schema.ts
  src/device-config.ts
  src/lib/constants.ts
Due: balena-lint --typescript --fix

Use delay instead of interval to recursively report state
  src/api-binder/report.ts
Due: balena-lint --typescript --fix

Only throttle HTTP request when reporting state
  src/api-binder/report.ts
Due: balena-lint --typescript --fix

v13.1.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Use write + sync when writing configs to /mnt/boot
  src/config/backends/backend.ts
  src/config/backends/config-fs.ts
  src/config/backends/config-txt.ts
  src/config/backends/extlinux.ts
  src/config/backends/extra-uEnv.ts
  src/config/backends/splash-image.ts
  src/host-config.ts
  src/lib/host-utils.ts
  test/03-config.spec.ts
  test/12-device-config.spec.ts
  test/27-extlinux-config.spec.ts
  test/33-extra-uenv-config.spec.ts
  test/40-target-state.spec.ts
  test/41-device-api-v1.spec.ts
  test/42-device-api-v2.spec.ts
  test/43-splash-image.spec.ts
  test/data/testconfig-apibinder.json
  test/lib/mocked-device-api.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Avoid splash image failures if image is corrupt
  src/config/backends/splash-image.ts
Due: balena-lint --typescript --fix

v13.1.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

v13.1.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Prevent throttling reports when nothing was sent
  src/api-binder/report.ts
Due: balena-lint --typescript --fix

v13.1.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Add compose support for volumes defined with long syntax
  src/compose/sanitise.ts
  src/compose/service.ts
  src/compose/types/service.ts
  src/compose/utils.ts
  test/22-local-mode.spec.ts
  test/src/compose/service.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests
