Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: balena-lint, balena-lint --typescript --fix, balena-lint --tests, balena-lint --typescript --no-prettier --tests

Log anonymous volumes
  src/compose/volume-manager.ts
  test/src/compose/volume-manager.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Add long syntax feature to balena.yml contract
  balena.yml
Due: none

v13.1.8
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Use Mounts API for engine socket feature label
  src/compose/types/service.ts
  src/compose/utils.ts
  test/src/compose/service.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Do not stop containers on reboot/shutdown This causes unless-stopped containers to not start on next boot since the Supervisor stopped it.
  src/device-state.ts
  src/lib/update-lock.ts
  test/05-device-state.spec.ts
  test/41-device-api-v1.spec.ts
  test/src/lib/update-lock.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Refactor lock function Previous code was callback hell
  src/lib/update-lock.ts
Due: balena-lint --typescript --fix

Fix serial number support for variscite boards
  src/lib/system-info.ts
Due: balena-lint --typescript --fix

v13.1.9
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Trim newlines from sysinfo files
  src/lib/system-info.ts
Due: balena-lint --typescript --fix

v13.1.10
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Only migrate apps.json on preload after target has been set
  src/device-state/preload.ts
Due: balena-lint --typescript --fix

Fix check for preloaded v2 target state
  src/device-state/preload.ts
Due: balena-lint --typescript --fix

Throw a more explanatory error if migrating apps.json fails
  src/lib/legacy.ts
Due: balena-lint --typescript --fix

v13.1.11
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Move supervisor-api.ts to device-api/index.ts
  src/device-api/index.ts
  src/supervisor-api.ts
  src/supervisor.ts
  test/21-supervisor-api.spec.ts
  test/41-device-api-v1.spec.ts
  test/42-device-api-v2.spec.ts
  test/lib/mocked-device-api.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Consolidate Supervisor API middlewares
  src/api-binder/index.ts
  src/compose/application-manager.ts
  src/device-api/index.ts
  src/device-api/middleware.ts
  src/device-api/types.ts
  src/device-api/v1.ts
  src/device-api/v2.ts
  src/device-state.ts
  src/lib/api-keys.ts
  src/proxyvisor.js
Due: balena-lint --typescript --fix

Move lib/api-keys.ts to device-api directory
  src/compose/utils.ts
  src/device-api/api-keys.ts
  src/device-api/index.ts
  src/device-api/middleware.ts
  src/device-api/types.ts
  src/device-state.ts
  test/21-supervisor-api.spec.ts
  test/41-device-api-v1.spec.ts
  test/42-device-api-v2.spec.ts
  test/src/compose/service.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Move /v1 routes in apiBinder.router to v1.ts
  src/api-binder/index.ts
  src/compose/application-manager.ts
  src/device-api/v1.ts
  src/supervisor.ts
  test/41-device-api-v1.spec.ts
  test/lib/mocked-device-api.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Move /v1 routes in deviceState.router to v1.ts
  src/device-api/index.ts
  src/device-api/v1.ts
  src/device-state.ts
  src/supervisor.ts
  test/lib/mocked-device-api.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Use v2 router directly instead of through application manager
  src/compose/application-manager.ts
  src/device-api/index.ts
  src/device-api/v1.ts
  src/device-api/v2.ts
  src/proxyvisor.js
  src/supervisor.ts
  test/lib/mocked-device-api.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Move messages.ts to device-api module as the contents all relate to SV API
  src/device-api/common.js
  src/device-api/messages.ts
  src/device-api/v2.ts
  test/data/mnt/boot/config.txt
Due: balena-lint --typescript --fix

Use identify action for /v1/blink
  src/device-api/actions.ts
  src/device-api/index.ts
  test/41-device-api-v1.spec.ts
  test/src/device-api/actions.spec.ts
  test/src/device-api/v1.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Use runHealthchecks action for /v1/healthy
  src/device-api/actions.ts
  src/device-api/index.ts
  test/41-device-api-v1.spec.ts
  test/src/device-api/actions.spec.ts
  test/src/device-api/v1.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Export device-api submodules from device-api/index.ts
  src/compose/utils.ts
  src/device-api/index.ts
  src/device-state.ts
  src/supervisor.ts
  test/21-supervisor-api.spec.ts
  test/41-device-api-v1.spec.ts
  test/42-device-api-v2.spec.ts
  test/lib/mocked-device-api.ts
  test/src/compose/service.spec.ts
  test/src/device-api/actions.spec.ts
  test/src/device-api/v1.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Use regenerateKey action for /v1/regenerate-api-key
  src/device-api/actions.ts
  src/device-api/index.ts
  test/41-device-api-v1.spec.ts
  test/src/device-api/actions.spec.ts
  test/src/device-api/v1.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Move doRestart to actions.ts, write more restart route tests
  src/device-api/actions.ts
  src/device-api/common.js
  src/device-api/v1.ts
  src/device-api/v2.ts
  test/41-device-api-v1.spec.ts
  test/src/device-api/actions.spec.ts
  test/src/device-api/v2.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v14.0.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Refactor update-lock.lock to accept an array of applications to lock
  src/compose/composition-steps.ts
  src/lib/update-lock.ts
  test/src/lib/update-lock.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Use locks before shutdown/reboot instead of stopping containers
  src/device-state.ts
  test/05-device-state.spec.ts
  test/41-device-api-v1.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Refactor update-lock function to avoid callback hell
  src/lib/update-lock.ts
Due: balena-lint --typescript --fix

v14.0.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Don't use config.get for appId when checking locks in host config PATCH
  src/host-config.ts
  test/41-device-api-v1.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v14.0.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Do not send name as part of the current state
  src/device-state.ts
Due: balena-lint --typescript --fix

v14.0.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Better document mocked-dbus, add missing dbus interface methods
  src/lib/dbus.ts
  test/lib/mocked-dbus.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Use throttle for reporting state This ensures that a trailing call is executed as well as ensuring the throttle function is only ran within the allowed frequency
  src/api-binder/report.ts
  src/lib/throttle.ts
Due: balena-lint --typescript --fix

Check for deferred reports after reporting current state
  src/api-binder/report.ts
Due: balena-lint --typescript --fix

v14.0.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Use compose long syntax for /lib/firmware and /lib/modules
  docker-compose.yml
  entry.sh
  src/compose/app.ts
  src/compose/types/service.ts
  src/compose/utils.ts
  test/data/docker-states/entrypoint/imageInfo.json
  test/data/docker-states/network-mode-service/imageInfo.json
  test/data/docker-states/simple/imageInfo.json
  test/src/compose/service.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Path conditions:
  balena-lint: any of: *.coffee
  balena-lint --typescript --fix: (any of: *.ts) or (any of: *.js)
  balena-lint --tests: any of: test/**/*.coffee
  balena-lint --typescript --no-prettier --tests: any of: test/**/*.ts
