Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: balena-lint, balena-lint --typescript --fix, balena-lint --tests, balena-lint --typescript --no-prettier --tests

Update blinking to 0.0.5
  package-lock.json
  package.json
Due: none

v14.0.19
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Fix filtering of the supervisor app on the target state
  src/compose/app.ts
  src/lib/supervisor-metadata.ts
Due: balena-lint --typescript --fix

v14.0.20
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Fix withDefault type helper to work with boolean
  src/types/state.ts
  test/unit/lib/validation.spec.ts
  test/unit/types.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v14.0.21
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Only install service if running is set to false
  src/compose/service-manager.ts
Due: balena-lint --typescript --fix

Remove unnecessary check for docker status code
  src/compose/service-manager.ts
  src/lib/errors.ts
Due: balena-lint --typescript --fix

v14.0.22
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Switch from balenaCI to flowzone
  .github/workflows/flowzone.yml
  .resinci.yml
Due: none

Automate dbus lib installation depending on system
  Dockerfile.template
  README.md
  build-utils/install-dbus.sh
  package.json
Due: none

Remove balena-ci.yml and add balenaCloud slugs
  .github/workflows/balena-ci.yml
  .github/workflows/flowzone.yml
Due: none

Rename Dockerfile.null to Dockerfile
  Dockerfile
  Dockerfile.null
  docker-compose.test.yml
Due: none

Modify npm scripts for Flowzone
  Dockerfile.template
  README.md
  package.json
Due: none

Add staging environment workflow
  .github/workflows/flowzone.yml
Due: none

Clarify Flowzone job names
  .github/workflows/flowzone.yml
Due: none

Enable branch protection
  .github/workflows/flowzone.yml
Due: none

Specify job name for flowzone branch protections
  .github/workflows/flowzone.yml
Due: none

v14.0.23
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Split publish to balena-staging from flowzone
  .github/workflows/flowzone.yml
Due: none

v14.0.24
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Do not fail fast in deploy to staging
  .github/workflows/flowzone.yml
Due: none

Update to nodejs 14
  Dockerfile.template
  package-lock.json
  package.json
  src/network.ts
Due: balena-lint --typescript --fix

Fix mochapodrc to reference the correct test config.json
  .mochapodrc.yml
Due: none

v14.0.25
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

v14.0.26
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Update to nodejs 16
  .github/workflows/flowzone.yml
  .npmrc
  Dockerfile.template
  build-utils/install-dbus.sh
  package-lock.json
  package.json
  src/lib/api-keys.ts
  test/lib/mocked-balena-api.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v14.1.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Update balena-register-device to 8.0.0
  package-lock.json
  package.json
Due: none

v14.1.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Update husky/lint-staged dev dependencies
  package-lock.json
  package.json
Due: none

v14.1.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Update webpack dependencies to latest webpack 4.x compatible versions
  package-lock.json
  package.json
Due: none

v14.1.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Disable event tracking
  src/api-binder/index.ts
  src/event-tracker.ts
  src/lib/api-helper.ts
  src/supervisor.ts
  test/legacy/08-event-tracker.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Remove mixpanel configurations
  Dockerfile.template
  package-lock.json
  package.json
  src/config/functions.ts
  src/config/schema-type.ts
  src/config/schema.ts
  src/lib/constants.ts
  src/supervisor.ts
Due: balena-lint --typescript --fix

Fix livepush to work with node 16
  sync/device.ts
  sync/init.ts
  sync/sync.ts
Due: balena-lint --typescript --fix

v14.2.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Path conditions:
  balena-lint: any of: *.coffee
  balena-lint --typescript --fix: (any of: *.ts) or (any of: *.js)
  balena-lint --tests: any of: test/**/*.coffee
  balena-lint --typescript --no-prettier --tests: any of: test/**/*.ts
