Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: balena-lint, balena-lint --typescript --fix, balena-lint --tests, balena-lint --typescript --no-prettier --tests

.lintstagedrc:

{
	"*.coffee": [
		"balena-lint"
	],
	"*.ts": [
		"balena-lint --typescript --fix",
	],
	"*.js": [
		"balena-lint --typescript --fix",
	],
	"test/**/*.coffee": [
		"balena-lint --tests"
	],
	"test/**/*.ts": [
		"balena-lint --typescript --no-prettier --tests"
	],
}

v14.2.11
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Fix bug in preloading config vars
  src/device-state/preload.ts
Due: balena-lint --typescript --fix

Remove unused code from dbus module
  src/lib/dbus.ts
Due: balena-lint --typescript --fix

Setup environment for dbus tests
  .mochapodrc.yml
  docker-compose.dev.yml
  docker-compose.test.yml
  test/integration/device-state.spec.ts
  test/lib/dbus/.npmrc
  test/lib/dbus/Dockerfile
  test/lib/dbus/dbus.conf
  test/lib/dbus/entry.sh
  test/lib/dbus/login.ts
  test/lib/dbus/package.json
  test/lib/dbus/systemd.ts
  test/lib/dbus/tsconfig.json
  test/lib/dbus/utils.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Add build util to automatically detect arch from uname
  build-utils/detect-arch.sh
  package.json
Due: none

v14.2.12
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Move supervisor-api.ts to device-api/index.ts
  src/device-api/index.ts
  src/supervisor-api.ts
  src/supervisor.ts
  test/legacy/21-supervisor-api.spec.ts
  test/legacy/41-device-api-v1.spec.ts
  test/legacy/42-device-api-v2.spec.ts
  test/lib/mocked-device-api.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Use v2 router directly instead of through application manager
  src/compose/application-manager.ts
  src/device-api/index.ts
  src/device-api/v1.ts
  src/device-api/v2.ts
  src/proxyvisor.js
  src/supervisor.ts
  test/lib/mocked-device-api.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Move /v1 routes in apiBinder.router to v1.ts
  src/api-binder/index.ts
  src/compose/application-manager.ts
  src/device-api/v1.ts
  src/supervisor.ts
  test/legacy/41-device-api-v1.spec.ts
  test/lib/mocked-device-api.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Move /v1 routes in deviceState.router to v1.ts
  src/device-api/index.ts
  src/device-api/v1.ts
  src/device-state.ts
  src/supervisor.ts
  test/lib/mocked-device-api.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Consolidate API middlewares, move api-keys to device-api
  src/api-binder/index.ts
  src/compose/application-manager.ts
  src/compose/utils.ts
  src/device-api/api-keys.ts
  src/device-api/index.ts
  src/device-api/middleware/auth.ts
  src/device-api/middleware/errors.ts
  src/device-api/middleware/index.ts
  src/device-api/middleware/logging.ts
  src/device-api/v1.ts
  src/device-api/v2.ts
  src/device-state.ts
  src/proxyvisor.js
  test/integration/compose/service.spec.ts
  test/legacy/21-supervisor-api.spec.ts
  test/legacy/41-device-api-v1.spec.ts
  test/legacy/42-device-api-v2.spec.ts
  test/lib/mocked-balena-api.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Move messages.ts to device-api
  src/device-api/common.js
  src/device-api/messages.ts
  src/device-api/v2.ts
Due: balena-lint --typescript --fix

Access api-key methods through device API
  src/compose/utils.ts
  src/device-api/api-keys.ts
  src/device-api/index.ts
  src/device-state.ts
  test/integration/compose/service.spec.ts
  test/legacy/21-supervisor-api.spec.ts
  test/legacy/41-device-api-v1.spec.ts
  test/legacy/42-device-api-v2.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Convert common.js to TypeScript
  src/compose/app.ts
  src/device-api/common.ts
Due: balena-lint --typescript --fix

Make dbus module side-effect free to not interfere with unit tests
  src/lib/dbus.ts
  test/legacy/.mocharc.js
  test/legacy/fixtures.ts
  test/lib/legacy-mocha-hooks.ts
  test/lib/mocked-dbus.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v14.2.13
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Migrate simple legacy tests to test/unit and test/integration
  test/integration/compose/commit.spec.ts
  test/integration/lib/os-release.spec.ts
  test/integration/network.spec.ts
  test/legacy/01-constants.spec.ts
  test/legacy/18-startup.spec.ts
  test/legacy/35-os-release.spec.ts
  test/unit/compose/ports.spec.ts
  test/unit/compose/utils.spec.ts
  test/unit/config/append-directive.spec.ts
  test/unit/config/fdt-directive.spec.ts
  test/unit/lib/conversions.spec.ts
  test/unit/lib/journald.spec.ts
  test/unit/network.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v14.2.14
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Migrate docker-util tests
  test/integration/lib/docker-utils.spec.ts
  test/legacy/24-deltas.spec.ts
  test/legacy/31-docker-utils.spec.ts
  test/lib/docker-helper.ts
  test/unit/compose/network.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Migrate db-format tests to integration
  test/integration/device-state/db-format.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Migrate firewall tests to integration
  test/integration/lib/firewall.spec.ts
  test/lib/mocked-iptables.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Update sinon
  package-lock.json
  package.json
Due: none

v14.2.15
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Migrate API tests to unit/integration
  test/integration/device-api/api-keys.spec.ts
  test/integration/device-api/index.spec.ts
  test/integration/device-api/middleware.spec.ts
  test/integration/device-state.spec.ts
  test/integration/network.spec.ts
  test/legacy/18-startup.spec.ts
  test/legacy/21-supervisor-api.spec.ts
  test/lib/legacy-mocha-hooks.ts
  test/lib/mocha-hooks.ts
  test/unit/device-api/middleware.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

config/backends: Add Jetson AGX Orin Devkit to the list of DTs that support configurable device-tree
  src/config/backends/extra-uEnv.ts
  test/legacy/33-extra-uenv-config.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v14.2.16
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

v14.2.17
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

patch: Update locks behavior for config changes
  docs/update-locking.md
Due: none

Update apt repositories before installing dbus
  build-utils/install-dbus.sh
Due: none

v14.2.18
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Remove DOCKER_ROOT assignments from entry.sh
  entry.sh
Due: none

Run the built supervisor as part of docker-compose tests
  docker-compose.test.yml
  entry.sh
  src/logging/monitor.ts
  test/data/root/etc/hostname
  test/data/root/etc/os-release
  test/data/root/mnt/boot/config.json
  test/data/root/mnt/boot/config.txt
  test/data/root/mnt/boot/device-type.json
  test/data/root/mnt/boot/splash/balena-logo-default.png
  test/data/root/mnt/boot/splash/balena-logo.png
  test/data/root/run/openvpn/.gitkeep
  test/integration/config.spec.ts
  test/integration/supervisor.spec.ts
  test/legacy/18-startup.spec.ts
  test/lib/wait-for-it.sh
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v14.2.19
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

v14.2.20
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Fix typo: intialise -> initialize
  src/lib/contracts.ts
  src/supervisor.ts
  test/integration/device-state.spec.ts
  test/integration/lib/contracts.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Allow local target state to be applied in unmanaged mode
  src/lib/legacy.ts
Due: balena-lint --typescript --fix

v14.2.21
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Improve NotFoundError handling
  docker-compose.test.yml
  package.json
  src/compose/app.ts
  src/compose/images.ts
  src/compose/network-manager.ts
  src/compose/service-manager.ts
  src/compose/volume-manager.ts
  src/lib/errors.ts
  src/lib/legacy.ts
  src/lib/migration.ts
  test/lib/mocked-dockerode.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Change macAddressPath to /sys/class/net
  src/lib/constants.ts
  test/integration/config.spec.ts
  test/legacy/10-api-binder.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Convert ensureSupervisorNetwork to native Promises
  src/compose/composition-steps.ts
  src/compose/network-manager.ts
  test/integration/compose/application-manager.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests
