Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: balena-lint, balena-lint --typescript --fix, balena-lint --tests, balena-lint --typescript --no-prettier --tests

.lintstagedrc:

{
	"*.coffee": [
		"balena-lint"
	],
	"*.ts": [
		"balena-lint --typescript --fix",
	],
	"*.js": [
		"balena-lint --typescript --fix",
	],
	"test/**/*.coffee": [
		"balena-lint --tests"
	],
	"test/**/*.ts": [
		"balena-lint --typescript --no-prettier --tests"
	],
}

Use log endpoint subdomain if it exists in config.json
  src/config/schema-type.ts
  src/config/schema.ts
  src/logger.ts
  src/logging/balena-backend.ts
Due: balena-lint --typescript --fix

v14.9.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Use multi-arch in dockerfile
  Dockerfile.template
Due: none

Update deploy-to-balena action to 0.26.2
  .github/actions/finalize/action.yml
  .github/actions/publish/action.yml
Due: none

v14.9.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Add missing log backend field assignment in logger init
  src/logger.ts
Due: balena-lint --typescript --fix

v14.9.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Revert "Use multi-arch in dockerfile"
  Dockerfile.template
Due: none

v14.9.8
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Mount boot partition into container on Supervisor start
  .mochapodrc.yml
  Dockerfile.template
  docker-compose.test.yml
  entry.sh
  mount-partitions.sh
  src/compose/app.ts
  src/compose/service.ts
  src/compose/volume-manager.ts
  src/config/backends/config-fs.ts
  src/config/backends/config-txt.ts
  src/config/backends/extra-uEnv.ts
  src/config/backends/odmdata.ts
  src/config/configJson.ts
  src/config/functions.ts
  src/device-config.ts
  src/device-state/target-state.ts
  src/host-config.ts
  src/lib/constants.ts
  src/lib/fs-utils.ts
  src/lib/host-utils.ts
  src/lib/legacy.ts
  src/lib/migration.ts
  src/lib/update-lock.ts
  test/data/root/mnt/boot/os-release
  test/integration/config.spec.ts
  test/integration/config/extra-uenv.spec.ts
  test/integration/device-config.spec.ts
  test/integration/host-config.spec.ts
  test/integration/lib/update-lock.spec.ts
  test/legacy/fixtures.ts
  test/unit/lib/fs-utils.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Mount data and state partitions on container startup
  .mochapodrc.yml
  docker-compose.test.yml
  entry.sh
  mount-partitions.sh
  src/compose/volume-manager.ts
  src/lib/constants.ts
  src/lib/host-utils.ts
  src/lib/legacy.ts
  src/lib/migration.ts
  src/lib/system-info.ts
  src/lib/update-lock.ts
  test/integration/lib/update-lock.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Change constants imports to remove 'require'
  src/compose/app.ts
  src/compose/application-manager.ts
  src/compose/service-manager.ts
  src/compose/volume-manager.ts
  src/compose/volume.ts
  src/device-state.ts
  src/device-state/target-state.ts
  src/lib/blink.ts
  test/integration/config.spec.ts
  test/integration/lib/firewall.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v14.10.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Use dbus-send to get current boot block device instead of fdisk
  entry.sh
  mount-partitions.sh
Due: none

v14.10.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

backends: Add Jetson Orin NX custom device-tree support
  src/config/backends/extra-uEnv.ts
  test/integration/config/extra-uenv.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v14.10.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Fix assertion error in restart-service
  test/integration/device-api/actions.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v14.10.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Log uncaught promise exceptions on the app entry
  src/app.ts
Due: balena-lint --typescript --fix

v14.10.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

v14.6.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Always lower case the cpu id to avoid bouncing between casing when reporting
  src/lib/system-info.ts
  test/unit/lib/system-info.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

patch: Convert internal timestamp passed to journalctl from number to string
  src/lib/journald.ts
  src/logging/monitor.ts
Due: balena-lint --typescript --fix

v14.9.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Fix wait-for-it script to work with external signals
  test/lib/wait-for-it.sh
Due: none

v14.6.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

v14.7.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

v14.9.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Skip pin device step if release was deleted
  src/api-binder/index.ts
Due: balena-lint --typescript --fix
