Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: balena-lint, balena-lint --typescript --fix, balena-lint --tests, balena-lint --typescript --no-prettier --tests

Add SIGTERM listener on application start
  src/app.ts
Due: balena-lint --typescript --fix

patch: Update Flowzone to kyle/draft-downstream
  .github/workflows/flowzone.yml
Due: none

v14.6.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

patch: Update Flowzone to kyle/wait-for-checks
  .github/workflows/flowzone.yml
Due: none

patch: Update Flowzone to kyle/skip-branch-protection
  .github/workflows/flowzone.yml
Due: none

patch: Update Flowzone to renovate/pin-dependencies
  .github/workflows/flowzone.yml
Due: none

Support `since` and `until` in supervisor journalctl wrapper API.
  docs/API.md
  src/device-api/v2.ts
  src/lib/journald.ts
  test/unit/lib/journald.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

patch: Update Flowzone to kyle/job-cleanup
  .github/workflows/flowzone.yml
Due: none

patch: Update Flowzone to rust-version
  .github/workflows/flowzone.yml
Due: none

patch: Update Flowzone to kyle/fixup-conditions
  .github/workflows/flowzone.yml
Due: none

patch: Update Flowzone to kyle/e2e-cleanup
  .github/workflows/flowzone.yml
Due: none

patch: Update Flowzone to kyle/remove-cli-test
  .github/workflows/flowzone.yml
Due: none

patch: Test Flowzone PR 474
  .github/workflows/flowzone.yml
Due: none

patch: Test Flowzone PR 477
  .github/workflows/flowzone.yml
Due: none

patch: Test Flowzone PR 476
  .github/workflows/flowzone.yml
Due: none

v14.7.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

patch: Test Flowzone PR 478
  .github/workflows/flowzone.yml
Due: none

patch: Test Flowzone PR 479
  .github/workflows/flowzone.yml
Due: none

patch: Test Flowzone PR 480
  .github/workflows/flowzone.yml
Due: none

patch: Test Flowzone PR 482
  .github/workflows/flowzone.yml
Due: none

patch: Test Flowzone PR 481
  .github/workflows/flowzone.yml
Due: none

patch: Test Flowzone PR 484
  .github/workflows/flowzone.yml
Due: none

patch: Test Flowzone PR 485
  .github/workflows/flowzone.yml
Due: none

patch: Convert internal timestamp passed to journalctl from number to string
  src/lib/journald.ts
  src/logging/monitor.ts
Due: balena-lint --typescript --fix

v14.7.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Remove dependent devices content in codebase
  docs/API.md
  docs/debugging-supervisor.md
  docs/dependent-apps.md
  src/api-binder/index.ts
  src/compose/application-manager.ts
  src/compose/images.ts
  src/device-api/actions.ts
  src/device-api/index.ts
  src/device-api/v2.ts
  src/device-state.ts
  src/lib/constants.ts
  src/lib/legacy.ts
  src/logger.ts
  src/migrations/M00010.js
  src/proxyvisor.js
  src/types/state.ts
  test/integration/compose/images.spec.ts
  test/integration/db.spec.ts
  test/integration/device-state.spec.ts
  test/legacy/40-target-state.spec.ts
  test/lib/state-helper.ts
  test/unit/compose/app.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v14.8.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Reference networks by Id instead of by name
  src/compose/network-manager.ts
  src/compose/network.ts
Due: balena-lint --typescript --fix

Find and remove duplicate networks
  src/compose/app.ts
  src/compose/application-manager.ts
  src/device-api/actions.ts
  test/integration/device-state/db-format.spec.ts
  test/lib/state-helper.ts
  test/unit/compose/app.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v14.9.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Always lower case the cpu id to avoid bouncing between casing when reporting
  src/lib/system-info.ts
  test/unit/lib/system-info.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v14.9.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Enable http2 when fetching target state
  src/lib/request.ts
Due: balena-lint --typescript --fix

Replace BALENA-FIREWALL rule in INPUT chain instead of flushing
  src/lib/firewall.ts
  src/lib/iptables.ts
  test/integration/lib/firewall.spec.ts
  test/lib/mocked-iptables.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v14.9.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Use single-arch in dockerfile
  Dockerfile.template
  sync/init.ts
Due: balena-lint --typescript --fix

v14.9.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Skip pin device step if release was deleted
  src/api-binder/index.ts
Due: balena-lint --typescript --fix

v14.9.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Path conditions:
  balena-lint: any of: *.coffee
  balena-lint --typescript --fix: (any of: *.ts) or (any of: *.js)
  balena-lint --tests: any of: test/**/*.coffee
  balena-lint --typescript --no-prettier --tests: any of: test/**/*.ts
