Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: balena-lint, balena-lint --typescript --fix, balena-lint --tests, balena-lint --typescript --no-prettier --tests

v14.9.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Replace BALENA-FIREWALL rule in INPUT chain instead of flushing
  src/lib/firewall.ts
  src/lib/iptables.ts
  test/integration/lib/firewall.spec.ts
  test/lib/mocked-iptables.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v14.9.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Use multi-arch in dockerfile
  Dockerfile.template
Due: none

Update deploy-to-balena action to 0.26.2
  .github/actions/finalize/action.yml
  .github/actions/publish/action.yml
Due: none

v14.9.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

v14.9.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

v14.10.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Mount boot partition into container on Supervisor start
  .mochapodrc.yml
  Dockerfile.template
  docker-compose.test.yml
  entry.sh
  mount-partitions.sh
  src/compose/app.ts
  src/compose/service.ts
  src/compose/volume-manager.ts
  src/config/backends/config-fs.ts
  src/config/backends/config-txt.ts
  src/config/backends/extra-uEnv.ts
  src/config/backends/odmdata.ts
  src/config/configJson.ts
  src/config/functions.ts
  src/device-config.ts
  src/device-state/target-state.ts
  src/host-config.ts
  src/lib/constants.ts
  src/lib/fs-utils.ts
  src/lib/host-utils.ts
  src/lib/legacy.ts
  src/lib/migration.ts
  src/lib/update-lock.ts
  test/data/root/mnt/boot/os-release
  test/integration/config.spec.ts
  test/integration/config/extra-uenv.spec.ts
  test/integration/device-config.spec.ts
  test/integration/host-config.spec.ts
  test/integration/lib/update-lock.spec.ts
  test/legacy/fixtures.ts
  test/unit/lib/fs-utils.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Add missing log backend field assignment in logger init
  src/logger.ts
Due: balena-lint --typescript --fix

v14.10.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

backends: Add Jetson Orin NX custom device-tree support
  src/config/backends/extra-uEnv.ts
  test/integration/config/extra-uenv.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v14.7.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Add SIGTERM listener on application start
  src/app.ts
Due: balena-lint --typescript --fix

v14.10.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Use single-arch in dockerfile
  Dockerfile.template
  sync/init.ts
Due: balena-lint --typescript --fix

Remove dependent devices content in codebase
  docs/API.md
  docs/debugging-supervisor.md
  docs/dependent-apps.md
  src/api-binder/index.ts
  src/compose/application-manager.ts
  src/compose/images.ts
  src/device-api/actions.ts
  src/device-api/index.ts
  src/device-api/v2.ts
  src/device-state.ts
  src/lib/constants.ts
  src/lib/legacy.ts
  src/logger.ts
  src/migrations/M00010.js
  src/proxyvisor.js
  src/types/state.ts
  test/integration/compose/images.spec.ts
  test/integration/db.spec.ts
  test/integration/device-state.spec.ts
  test/legacy/40-target-state.spec.ts
  test/lib/state-helper.ts
  test/unit/compose/app.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Change constants imports to remove 'require'
  src/compose/app.ts
  src/compose/application-manager.ts
  src/compose/service-manager.ts
  src/compose/volume-manager.ts
  src/compose/volume.ts
  src/device-state.ts
  src/device-state/target-state.ts
  src/lib/blink.ts
  test/integration/config.spec.ts
  test/integration/lib/firewall.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v14.9.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Support `since` and `until` in supervisor journalctl wrapper API.
  docs/API.md
  src/device-api/v2.ts
  src/lib/journald.ts
  test/unit/lib/journald.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Reference networks by Id instead of by name
  src/compose/network-manager.ts
  src/compose/network.ts
Due: balena-lint --typescript --fix

Find and remove duplicate networks
  src/compose/app.ts
  src/compose/application-manager.ts
  src/device-api/actions.ts
  test/integration/device-state/db-format.spec.ts
  test/lib/state-helper.ts
  test/unit/compose/app.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v14.8.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Remove anonymous build volume from Dockerfile
  Dockerfile.template
Due: none

Remove dind tmpfs in test env
  docker-compose.test.yml
Due: none

Use simpler command for docker compose test volume removal
  package.json
Due: none

v14.10.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Do not restart balena-hostname on rename
  src/host-config.ts
  test/integration/host-config.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

v14.10.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  balena.yml
  package-lock.json
  package.json
Due: none

Make pausingApply a private member of device-state
  src/device-api/actions.ts
  src/device-state.ts
Due: balena-lint --typescript --fix

Improve net alias comparison to prevent unwanted restarts
  src/compose/service.ts
  test/unit/compose/service.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Get rid of targetVolatile in app manager
  src/compose/application-manager.ts
  src/device-api/actions.ts
  src/device-state.ts
Due: balena-lint --typescript --fix

Simplify doRestart and doPurge actions
  src/compose/application-manager.ts
  src/device-api/actions.ts
  src/device-state.ts
  test/integration/device-api/actions.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Fix network appUuid inference in local mode
  src/compose/network.ts
Due: balena-lint --typescript --fix

Remove safeStateClone function
  src/device-api/actions.ts
  src/device-api/v2.ts
Due: balena-lint --typescript --fix

Remove ignoreImages argument from getRequiredSteps
  src/compose/application-manager.ts
Due: balena-lint --typescript --fix

Make local mode image management work as in cloud mode
  src/compose/app.ts
  src/compose/application-manager.ts
  src/compose/composition-steps.ts
  test/integration/compose/application-manager.spec.ts
  test/unit/compose/app.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Get image name from DB when getting the app current state
  src/compose/application-manager.ts
Due: balena-lint --typescript --fix

Exclude containerId from service network aliases
  src/compose/service.ts
  src/compose/utils.ts
  test/unit/compose/service.spec.ts
Due: balena-lint --typescript --fix, balena-lint --typescript --no-prettier --tests

Skip image delete when applying intermediate state
  src/compose/application-manager.ts
  src/device-state.ts
Due: balena-lint --typescript --fix

Path conditions:
  balena-lint: any of: *.coffee
  balena-lint --typescript --fix: (any of: *.ts) or (any of: *.js)
  balena-lint --tests: any of: test/**/*.coffee
  balena-lint --typescript --no-prettier --tests: any of: test/**/*.ts
